<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_c-deva</key>
	<dict>
		<key>@MMK_R_j_nya-deva</key>
		<integer>10</integer>
		<key>@MMK_R_kha-deva</key>
		<real>31.200000762939453</real>
		<key>@MMK_R_la-deva</key>
		<real>6.2399997711181641</real>
		<key>@MMK_R_ma-deva</key>
		<real>41.599998474121094</real>
		<key>@MMK_R_na-deva</key>
		<real>41.599998474121094</real>
		<key>@MMK_R_ta-deva</key>
		<real>21.840000152587891</real>
		<key>@MMK_R_tha-deva</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_tta-deva</key>
		<real>15.600000381469727</real>
		<key>@MMK_R_va-deva</key>
		<real>12.479999542236328</real>
	</dict>
	<key>@MMK_L_gh_r-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>5.1999998092651367</real>
		<key>@MMK_R_va-deva</key>
		<real>14.560000419616699</real>
		<key>ng_k_ra-deva</key>
		<integer>-4</integer>
	</dict>
	<key>@MMK_L_k-deva</key>
	<dict>
		<key>@MMK_R_ba-deva</key>
		<real>23.920000076293945</real>
		<key>@MMK_R_d_ba-deva</key>
		<real>23.920000076293945</real>
		<key>@MMK_R_d_dha-deva</key>
		<real>47.840000152587891</real>
		<key>@MMK_R_d_gha-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_d_ma-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_d_na-deva</key>
		<integer>-26</integer>
		<key>@MMK_R_d_ra-deva</key>
		<integer>26</integer>
		<key>@MMK_R_g_na-deva</key>
		<real>44.720001220703125</real>
		<key>@MMK_R_ga-deva</key>
		<real>57.200000762939453</real>
		<key>@MMK_R_gha-deva</key>
		<real>-7.2800002098083496</real>
		<key>@MMK_R_j_ja-deva</key>
		<real>14.560000419616699</real>
		<key>@MMK_R_ja-deva</key>
		<real>11.439999580383301</real>
		<key>@MMK_R_k_ka-deva</key>
		<real>11.439999580383301</real>
		<key>@MMK_R_k_ta-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_kha-deva</key>
		<real>22.239999771118164</real>
		<key>@MMK_R_la-deva</key>
		<real>24.959999084472656</real>
		<key>@MMK_R_lla-deva</key>
		<real>24.959999084472656</real>
		<key>@MMK_R_ma-deva</key>
		<real>36.400001525878906</real>
		<key>@MMK_R_n_na-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_na-deva</key>
		<real>53.040000915527344</real>
		<key>@MMK_R_nya-deva</key>
		<real>39.520000457763672</real>
		<key>@MMK_R_p_la-deva.loclMAR</key>
		<real>-3.119999885559082</real>
		<key>@MMK_R_ra-deva</key>
		<real>-3.119999885559082</real>
		<key>@MMK_R_sh_ca-deva</key>
		<real>38.479999542236328</real>
		<key>@MMK_R_sh_la-deva</key>
		<real>23.920000076293945</real>
		<key>@MMK_R_sh_ra-deva</key>
		<real>38.479999542236328</real>
		<key>@MMK_R_sh_va-deva</key>
		<real>38.479999542236328</real>
		<key>@MMK_R_sha-deva</key>
		<real>-10.399999618530273</real>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_t_ra-deva</key>
		<real>31.200000762939453</real>
		<key>@MMK_R_ta-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_tha-deva</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_tt_na-deva</key>
		<real>-20.799999237060547</real>
		<key>@MMK_R_tt_tta-deva</key>
		<real>22.879999160766602</real>
		<key>@MMK_R_tta-deva</key>
		<real>19.760000228881836</real>
		<key>@MMK_R_va-deva</key>
		<real>24.959999084472656</real>
		<key>@MMK_R_ya-deva</key>
		<real>7.2800002098083496</real>
		<key>dda-deva.MAW</key>
		<real>-13.520000457763672</real>
		<key>k_la-deva.loclMAR</key>
		<real>16.639999389648438</real>
		<key>k_ss_r-deva</key>
		<real>-21.840000152587891</real>
		<key>l_la-deva.loclMAR</key>
		<real>22.879999160766602</real>
		<key>ny_ca-deva</key>
		<integer>0</integer>
		<key>p_la-deva.loclMAR</key>
		<real>-29.120000839233398</real>
		<key>zha-deva.loclNEP</key>
		<real>-1.0399999618530273</real>
	</dict>
	<key>@MMK_L_kh-deva</key>
	<dict>
		<key>@MMK_R_ga-deva</key>
		<integer>50</integer>
		<key>@MMK_R_kha-deva</key>
		<integer>52</integer>
		<key>@MMK_R_la-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_ma-deva</key>
		<real>41.599998474121094</real>
		<key>@MMK_R_ta-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_tta-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_va-deva</key>
		<real>13.520000457763672</real>
	</dict>
	<key>@MMK_L_n-deva</key>
	<dict>
		<key>@MMK_R_ja-deva</key>
		<real>2.0799999237060547</real>
		<key>@MMK_R_n_na-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_na-deva</key>
		<real>31.200000762939453</real>
		<key>@MMK_R_nya-deva</key>
		<real>-4.1599998474121094</real>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<real>-49.919998168945312</real>
		<key>@MMK_R_ss_tt_va-deva</key>
		<real>-10.399999618530273</real>
	</dict>
	<key>@MMK_L_n-deva.01</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-20.799999237060547</real>
		<key>@MMK_R_cha-deva</key>
		<real>-10.399999618530273</real>
		<key>@MMK_R_d_dha-deva</key>
		<real>28.079999923706055</real>
		<key>@MMK_R_d_gha-deva</key>
		<real>31.200000762939453</real>
		<key>@MMK_R_g_na-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_ga-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_ma-deva</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_p-deva</key>
	<dict>
		<key>@MMK_R_ba-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_c_ra-deva</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_ca-deva</key>
		<real>-41.599998474121094</real>
		<key>@MMK_R_d_ba-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_d_dha-deva</key>
		<integer>52</integer>
		<key>@MMK_R_d_gha-deva</key>
		<real>41.599998474121094</real>
		<key>@MMK_R_d_ma-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_d_na-deva</key>
		<integer>-26</integer>
		<key>@MMK_R_d_ra-deva</key>
		<real>11.439999580383301</real>
		<key>@MMK_R_dda-deva</key>
		<real>-4.1599998474121094</real>
		<key>@MMK_R_g_na-deva</key>
		<real>41.599998474121094</real>
		<key>@MMK_R_ga-deva</key>
		<real>45.759998321533203</real>
		<key>@MMK_R_gha-deva</key>
		<real>-13.520000457763672</real>
		<key>@MMK_R_ha-deva</key>
		<real>-5.1999998092651367</real>
		<key>@MMK_R_j_ja-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_j_nya-deva</key>
		<real>3.119999885559082</real>
		<key>@MMK_R_ja-deva</key>
		<real>31.200000762939453</real>
		<key>@MMK_R_k_ka-deva</key>
		<real>22.879999160766602</real>
		<key>@MMK_R_k_ssa-deva</key>
		<real>8.3199996948242188</real>
		<key>@MMK_R_k_ta-deva</key>
		<real>-23.920000076293945</real>
		<key>@MMK_R_kha-deva</key>
		<real>41.599998474121094</real>
		<key>@MMK_R_la-deva</key>
		<real>14.560000419616699</real>
		<key>@MMK_R_lla-deva</key>
		<real>12.479999542236328</real>
		<key>@MMK_R_ma-deva</key>
		<real>31.200000762939453</real>
		<key>@MMK_R_na-deva</key>
		<real>40.560001373291016</real>
		<key>@MMK_R_ny_ca-deva</key>
		<real>19.760000228881836</real>
		<key>@MMK_R_ny_ra-deva</key>
		<real>23.920000076293945</real>
		<key>@MMK_R_nya-deva</key>
		<real>38.479999542236328</real>
		<key>@MMK_R_p_la-deva.loclMAR</key>
		<real>-20.799999237060547</real>
		<key>@MMK_R_sh_ca-deva</key>
		<real>62.400001525878906</real>
		<key>@MMK_R_sh_la-deva</key>
		<integer>26</integer>
		<key>@MMK_R_sh_ra-deva</key>
		<integer>52</integer>
		<key>@MMK_R_sh_va-deva</key>
		<real>40.560001373291016</real>
		<key>@MMK_R_sha-deva</key>
		<real>-8.3199996948242188</real>
		<key>@MMK_R_ss_tt_va-deva</key>
		<real>-20.799999237060547</real>
		<key>@MMK_R_ss_tta-deva</key>
		<real>-44.720001220703125</real>
		<key>@MMK_R_ta-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_tha-deva</key>
		<real>-29.120000839233398</real>
		<key>@MMK_R_tt_na-deva</key>
		<real>-15.600000381469727</real>
		<key>@MMK_R_tt_tta-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_tta-deva</key>
		<real>11.439999580383301</real>
		<key>@MMK_R_va-deva</key>
		<real>17.680000305175781</real>
		<key>@MMK_R_ya-deva</key>
		<real>29.120000839233398</real>
		<key>c_ca-deva.alt</key>
		<real>-31.200000762939453</real>
		<key>c_la-deva.loclMAR</key>
		<real>-31.200000762939453</real>
		<key>dda-deva.MAW</key>
		<real>-11.439999580383301</real>
		<key>k_la-deva.loclMAR</key>
		<real>20.799999237060547</real>
		<key>l_la-deva.loclMAR</key>
		<real>12.479999542236328</real>
		<key>p_ta-deva</key>
		<real>-31.200000762939453</real>
	</dict>
	<key>@MMK_L_p_r-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>2.0799999237060547</real>
		<key>@MMK_R_va-deva</key>
		<real>6.2399997711181641</real>
	</dict>
	<key>@MMK_L_t-deva.01</key>
	<dict>
		<key>@MMK_R_tha-deva</key>
		<real>-31.200000762939453</real>
	</dict>
	<key>@MMK_L_v-deva</key>
	<dict>
		<key>@MMK_R_d_ba-deva</key>
		<real>-2.0799999237060547</real>
		<key>@MMK_R_dda-deva</key>
		<real>-20.799999237060547</real>
		<key>@MMK_R_gha-deva</key>
		<integer>-52</integer>
		<key>@MMK_R_ha-deva</key>
		<real>-20.799999237060547</real>
		<key>@MMK_R_ma-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_ra-deva</key>
		<real>-41.599998474121094</real>
		<key>@MMK_R_ss_tt_va-deva</key>
		<real>-24.959999084472656</real>
		<key>ch_na-deva</key>
		<real>-31.200000762939453</real>
		<key>ch_va-deva</key>
		<real>-31.200000762939453</real>
	</dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<real>-55.119998931884766</real>
		<key>Tcaron</key>
		<real>-55.119998931884766</real>
		<key>Tcommaaccent</key>
		<real>-55.119998931884766</real>
		<key>V</key>
		<real>-55.119998931884766</real>
		<key>W</key>
		<real>-41.599998474121094</real>
		<key>Y</key>
		<real>-68.639999389648438</real>
		<key>quoteright</key>
		<real>-41.599998474121094</real>
		<key>space</key>
		<real>-28.079999923706055</real>
		<key>v</key>
		<real>-28.079999923706055</real>
		<key>w</key>
		<real>-12.479999542236328</real>
		<key>y</key>
		<real>-28.079999923706055</real>
	</dict>
	<key>Aogonek</key>
	<dict>
		<key>T</key>
		<real>-55.119998931884766</real>
		<key>Tcaron</key>
		<real>-55.119998931884766</real>
		<key>Tcommaaccent</key>
		<real>-55.119998931884766</real>
		<key>V</key>
		<real>-55.119998931884766</real>
		<key>W</key>
		<real>-41.599998474121094</real>
		<key>Y</key>
		<real>-68.639999389648438</real>
		<key>quoteright</key>
		<real>-41.599998474121094</real>
		<key>space</key>
		<real>-28.079999923706055</real>
		<key>v</key>
		<real>-28.079999923706055</real>
		<key>w</key>
		<real>-12.479999542236328</real>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<real>-41.599998474121094</real>
		<key>Aogonek</key>
		<real>-41.599998474121094</real>
		<key>comma</key>
		<real>-83.199996948242188</real>
		<key>period</key>
		<real>-83.199996948242188</real>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<real>-55.119998931884766</real>
		<key>Tcaron</key>
		<real>-55.119998931884766</real>
		<key>Tcommaaccent</key>
		<real>-55.119998931884766</real>
		<key>V</key>
		<real>-55.119998931884766</real>
		<key>W</key>
		<real>-41.599998474121094</real>
		<key>Y</key>
		<real>-68.639999389648438</real>
		<key>quoteright</key>
		<real>-41.599998474121094</real>
		<key>space</key>
		<real>-12.479999542236328</real>
		<key>y</key>
		<real>-28.079999923706055</real>
	</dict>
	<key>Lacute</key>
	<dict>
		<key>T</key>
		<real>-55.119998931884766</real>
		<key>Tcaron</key>
		<real>-55.119998931884766</real>
		<key>Tcommaaccent</key>
		<real>-55.119998931884766</real>
		<key>V</key>
		<real>-55.119998931884766</real>
		<key>W</key>
		<real>-41.599998474121094</real>
		<key>Y</key>
		<real>-68.639999389648438</real>
		<key>quoteright</key>
		<real>-41.599998474121094</real>
		<key>space</key>
		<real>-12.479999542236328</real>
		<key>y</key>
		<real>-28.079999923706055</real>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<real>-55.119998931884766</real>
		<key>Aogonek</key>
		<real>-55.119998931884766</real>
		<key>comma</key>
		<real>-96.720001220703125</real>
		<key>period</key>
		<real>-96.720001220703125</real>
		<key>space</key>
		<real>-12.479999542236328</real>
	</dict>
	<key>R</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>Tcaron</key>
		<integer>0</integer>
		<key>Tcommaaccent</key>
		<integer>0</integer>
		<key>V</key>
		<real>-12.479999542236328</real>
		<key>W</key>
		<real>-12.479999542236328</real>
		<key>Y</key>
		<real>-28.079999923706055</real>
	</dict>
	<key>Racute</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>Tcaron</key>
		<integer>0</integer>
		<key>Tcommaaccent</key>
		<integer>0</integer>
		<key>V</key>
		<real>-12.479999542236328</real>
		<key>W</key>
		<real>-12.479999542236328</real>
		<key>Y</key>
		<real>-28.079999923706055</real>
	</dict>
	<key>Rcaron</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>Tcaron</key>
		<integer>0</integer>
		<key>Tcommaaccent</key>
		<integer>0</integer>
		<key>V</key>
		<real>-12.479999542236328</real>
		<key>W</key>
		<real>-12.479999542236328</real>
		<key>Y</key>
		<real>-28.079999923706055</real>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<real>-55.119998931884766</real>
		<key>Aogonek</key>
		<real>-55.119998931884766</real>
		<key>O</key>
		<real>-12.479999542236328</real>
		<key>Ohungarumlaut</key>
		<real>-12.479999542236328</real>
		<key>a</key>
		<real>-55.119998931884766</real>
		<key>aogonek</key>
		<real>-55.119998931884766</real>
		<key>c</key>
		<real>-55.119998931884766</real>
		<key>colon</key>
		<real>-83.199996948242188</real>
		<key>comma</key>
		<real>-83.199996948242188</real>
		<key>e</key>
		<real>-55.119998931884766</real>
		<key>eogonek</key>
		<real>-55.119998931884766</real>
		<key>hyphen</key>
		<real>-41.599998474121094</real>
		<key>i</key>
		<real>-12.479999542236328</real>
		<key>o</key>
		<real>-55.119998931884766</real>
		<key>period</key>
		<real>-83.199996948242188</real>
		<key>r</key>
		<real>-41.599998474121094</real>
		<key>s</key>
		<real>-55.119998931884766</real>
		<key>semicolon</key>
		<real>-83.199996948242188</real>
		<key>space</key>
		<integer>0</integer>
		<key>u</key>
		<real>-55.119998931884766</real>
		<key>w</key>
		<real>-55.119998931884766</real>
		<key>y</key>
		<real>-55.119998931884766</real>
	</dict>
	<key>Tcaron</key>
	<dict>
		<key>A</key>
		<real>-55.119998931884766</real>
		<key>Aogonek</key>
		<real>-55.119998931884766</real>
		<key>O</key>
		<real>-12.479999542236328</real>
		<key>Ohungarumlaut</key>
		<real>-12.479999542236328</real>
		<key>a</key>
		<real>-55.119998931884766</real>
		<key>aogonek</key>
		<real>-55.119998931884766</real>
		<key>c</key>
		<real>-55.119998931884766</real>
		<key>colon</key>
		<real>-83.199996948242188</real>
		<key>comma</key>
		<real>-83.199996948242188</real>
		<key>e</key>
		<real>-55.119998931884766</real>
		<key>eogonek</key>
		<real>-55.119998931884766</real>
		<key>hyphen</key>
		<real>-41.599998474121094</real>
		<key>i</key>
		<real>-12.479999542236328</real>
		<key>o</key>
		<real>-55.119998931884766</real>
		<key>period</key>
		<real>-83.199996948242188</real>
		<key>r</key>
		<real>-41.599998474121094</real>
		<key>s</key>
		<real>-55.119998931884766</real>
		<key>semicolon</key>
		<real>-83.199996948242188</real>
		<key>space</key>
		<integer>0</integer>
		<key>u</key>
		<real>-55.119998931884766</real>
		<key>w</key>
		<real>-55.119998931884766</real>
		<key>y</key>
		<real>-55.119998931884766</real>
	</dict>
	<key>Tcommaaccent</key>
	<dict>
		<key>A</key>
		<real>-55.119998931884766</real>
		<key>Aogonek</key>
		<real>-55.119998931884766</real>
		<key>O</key>
		<real>-12.479999542236328</real>
		<key>Ohungarumlaut</key>
		<real>-12.479999542236328</real>
		<key>a</key>
		<real>-55.119998931884766</real>
		<key>aogonek</key>
		<real>-55.119998931884766</real>
		<key>c</key>
		<real>-55.119998931884766</real>
		<key>colon</key>
		<real>-83.199996948242188</real>
		<key>comma</key>
		<real>-83.199996948242188</real>
		<key>e</key>
		<real>-55.119998931884766</real>
		<key>eogonek</key>
		<real>-55.119998931884766</real>
		<key>hyphen</key>
		<real>-41.599998474121094</real>
		<key>i</key>
		<real>-12.479999542236328</real>
		<key>o</key>
		<real>-55.119998931884766</real>
		<key>period</key>
		<real>-83.199996948242188</real>
		<key>r</key>
		<real>-41.599998474121094</real>
		<key>s</key>
		<real>-55.119998931884766</real>
		<key>semicolon</key>
		<real>-83.199996948242188</real>
		<key>space</key>
		<integer>0</integer>
		<key>u</key>
		<real>-55.119998931884766</real>
		<key>w</key>
		<real>-55.119998931884766</real>
		<key>y</key>
		<real>-55.119998931884766</real>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<real>-55.119998931884766</real>
		<key>Aogonek</key>
		<real>-55.119998931884766</real>
		<key>a</key>
		<real>-41.599998474121094</real>
		<key>aogonek</key>
		<real>-41.599998474121094</real>
		<key>colon</key>
		<real>-41.599998474121094</real>
		<key>comma</key>
		<real>-68.639999389648438</real>
		<key>e</key>
		<real>-41.599998474121094</real>
		<key>eogonek</key>
		<real>-41.599998474121094</real>
		<key>hyphen</key>
		<real>-41.599998474121094</real>
		<key>i</key>
		<real>-12.479999542236328</real>
		<key>o</key>
		<real>-55.119998931884766</real>
		<key>period</key>
		<real>-68.639999389648438</real>
		<key>r</key>
		<real>-41.599998474121094</real>
		<key>semicolon</key>
		<real>-41.599998474121094</real>
		<key>u</key>
		<real>-28.079999923706055</real>
		<key>y</key>
		<real>-28.079999923706055</real>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<real>-41.599998474121094</real>
		<key>Aogonek</key>
		<real>-41.599998474121094</real>
		<key>a</key>
		<real>-28.079999923706055</real>
		<key>aogonek</key>
		<real>-28.079999923706055</real>
		<key>colon</key>
		<real>-12.479999542236328</real>
		<key>comma</key>
		<real>-41.599998474121094</real>
		<key>e</key>
		<real>-12.479999542236328</real>
		<key>eogonek</key>
		<real>-12.479999542236328</real>
		<key>hyphen</key>
		<real>-14.560000419616699</real>
		<key>i</key>
		<real>-6.2399997711181641</real>
		<key>o</key>
		<real>-12.479999542236328</real>
		<key>period</key>
		<real>-41.599998474121094</real>
		<key>r</key>
		<real>-12.479999542236328</real>
		<key>semicolon</key>
		<real>-12.479999542236328</real>
		<key>u</key>
		<real>-12.479999542236328</real>
		<key>y</key>
		<real>-12.479999542236328</real>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<real>-68.639999389648438</real>
		<key>Aogonek</key>
		<real>-68.639999389648438</real>
		<key>a</key>
		<real>-41.599998474121094</real>
		<key>aogonek</key>
		<real>-41.599998474121094</real>
		<key>colon</key>
		<real>-55.119998931884766</real>
		<key>comma</key>
		<real>-83.199996948242188</real>
		<key>e</key>
		<real>-41.599998474121094</real>
		<key>eogonek</key>
		<real>-41.599998474121094</real>
		<key>hyphen</key>
		<real>-41.599998474121094</real>
		<key>i</key>
		<real>-28.079999923706055</real>
		<key>o</key>
		<real>-55.119998931884766</real>
		<key>p</key>
		<real>-41.599998474121094</real>
		<key>period</key>
		<real>-83.199996948242188</real>
		<key>q</key>
		<real>-55.119998931884766</real>
		<key>semicolon</key>
		<real>-55.119998931884766</real>
		<key>space</key>
		<real>-12.479999542236328</real>
		<key>u</key>
		<real>-41.599998474121094</real>
		<key>v</key>
		<real>-41.599998474121094</real>
	</dict>
	<key>bh-deva</key>
	<dict>
		<key>@MMK_R_na-deva</key>
		<real>-9.3599996566772461</real>
	</dict>
	<key>bh_r-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_ma-deva</key>
		<integer>20</integer>
		<key>@MMK_R_va-deva</key>
		<real>20.799999237060547</real>
	</dict>
	<key>d_m-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>62.400001525878906</real>
		<key>@MMK_R_va-deva</key>
		<real>62.400001525878906</real>
	</dict>
	<key>d_y-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>31.200000762939453</real>
		<key>@MMK_R_va-deva</key>
		<real>10.399999618530273</real>
	</dict>
	<key>dh-deva</key>
	<dict>
		<key>@MMK_R_ba-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_c_ra-deva</key>
		<real>-41.599998474121094</real>
		<key>@MMK_R_ca-deva</key>
		<real>-33.279998779296875</real>
		<key>@MMK_R_cha-deva</key>
		<real>-13.520000457763672</real>
		<key>@MMK_R_d_ba-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_d_dha-deva</key>
		<integer>52</integer>
		<key>@MMK_R_d_gha-deva</key>
		<real>41.599998474121094</real>
		<key>@MMK_R_d_na-deva</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_d_ra-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_dda-deva</key>
		<real>-10.399999618530273</real>
		<key>@MMK_R_dha-deva</key>
		<real>-10.399999618530273</real>
		<key>@MMK_R_g_na-deva</key>
		<real>41.599998474121094</real>
		<key>@MMK_R_ga-deva</key>
		<integer>52</integer>
		<key>@MMK_R_gha-deva</key>
		<real>-20.799999237060547</real>
		<key>@MMK_R_ha-deva</key>
		<real>-41.599998474121094</real>
		<key>@MMK_R_j_nya-deva</key>
		<real>15.600000381469727</real>
		<key>@MMK_R_ja-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_k_ka-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_k_ta-deva</key>
		<real>-20.799999237060547</real>
		<key>@MMK_R_kha-deva</key>
		<real>31.200000762939453</real>
		<key>@MMK_R_la-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_lla-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_na-deva</key>
		<real>42.639999389648438</real>
		<key>@MMK_R_ny_ca-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_ny_ra-deva</key>
		<real>6.2399997711181641</real>
		<key>@MMK_R_nya-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_p_la-deva.loclMAR</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_ra-deva</key>
		<real>6.2399997711181641</real>
		<key>@MMK_R_sh_ra-deva</key>
		<real>31.200000762939453</real>
		<key>@MMK_R_sha-deva</key>
		<real>-12.479999542236328</real>
		<key>@MMK_R_ss_tt_va-deva</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_ss_tta-deva</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_ta-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_tha-deva</key>
		<real>-36.400001525878906</real>
		<key>@MMK_R_tt_na-deva</key>
		<real>-20.799999237060547</real>
		<key>@MMK_R_tt_tta-deva</key>
		<real>16.639999389648438</real>
		<key>@MMK_R_tta-deva</key>
		<real>17.680000305175781</real>
		<key>@MMK_R_va-deva</key>
		<real>19.760000228881836</real>
		<key>@MMK_R_ya-deva</key>
		<real>20.799999237060547</real>
		<key>c_ca-deva.alt</key>
		<real>-31.200000762939453</real>
		<key>c_ch_va-deva</key>
		<real>-33.279998779296875</real>
		<key>c_la-deva.loclMAR</key>
		<real>-31.200000762939453</real>
		<key>dda-deva.MAW</key>
		<real>-15.600000381469727</real>
		<key>k_la-deva.loclMAR</key>
		<real>5.1999998092651367</real>
		<key>l_la-deva.loclMAR</key>
		<real>10.399999618530273</real>
		<key>p_ta-deva</key>
		<integer>-52</integer>
	</dict>
	<key>dh_r-deva</key>
	<dict>
		<key>@MMK_R_dha-deva</key>
		<integer>-25</integer>
		<key>@MMK_R_la-deva</key>
		<integer>0</integer>
		<key>@MMK_R_na-deva</key>
		<integer>30</integer>
		<key>@MMK_R_va-deva</key>
		<real>9.3599996566772461</real>
	</dict>
	<key>f</key>
	<dict>
		<key>f</key>
		<integer>0</integer>
		<key>quoteright</key>
		<real>12.479999542236328</real>
	</dict>
	<key>g_n-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_va-deva</key>
		<real>10.399999618530273</real>
	</dict>
	<key>g_r-deva</key>
	<dict>
		<key>@MMK_R_ga-deva</key>
		<integer>40</integer>
		<key>@MMK_R_la-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_va-deva</key>
		<real>31.200000762939453</real>
	</dict>
	<key>gh-deva</key>
	<dict>
		<key>@MMK_R_ba-deva</key>
		<real>21.840000152587891</real>
		<key>@MMK_R_ja-deva</key>
		<real>30.159999847412109</real>
		<key>@MMK_R_la-deva</key>
		<real>17.680000305175781</real>
		<key>@MMK_R_ma-deva</key>
		<real>41.599998474121094</real>
		<key>@MMK_R_ta-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_tta-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_va-deva</key>
		<real>17.680000305175781</real>
	</dict>
	<key>h-deva</key>
	<dict>
		<key>@MMK_R_va-deva</key>
		<real>5.1999998092651367</real>
	</dict>
	<key>j-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<real>-2.0799999237060547</real>
		<key>@MMK_R_cha-deva</key>
		<real>-20.799999237060547</real>
		<key>@MMK_R_d_na-deva</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_dha-deva</key>
		<real>-41.599998474121094</real>
		<key>@MMK_R_gha-deva</key>
		<integer>-52</integer>
		<key>@MMK_R_k_ssa-deva</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_ss_tt_va-deva</key>
		<real>-10.399999618530273</real>
		<key>@MMK_R_tt_na-deva</key>
		<real>-10.399999618530273</real>
		<key>ch_la-deva.loclMAR</key>
		<real>-20.799999237060547</real>
		<key>ch_na-deva</key>
		<real>-20.799999237060547</real>
		<key>ch_va-deva</key>
		<real>-20.799999237060547</real>
	</dict>
	<key>j-deva.01</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-10.399999618530273</real>
		<key>@MMK_R_d_dha-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_ma-deva</key>
		<integer>0</integer>
		<key>@MMK_R_na-deva</key>
		<real>41.599998474121094</real>
	</dict>
	<key>j_ny_r-deva</key>
	<dict>
		<key>@MMK_R_j_nya-deva</key>
		<integer>0</integer>
		<key>@MMK_R_ja-deva</key>
		<integer>20</integer>
		<key>@MMK_R_la-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_va-deva</key>
		<real>10.399999618530273</real>
	</dict>
	<key>j_r-deva</key>
	<dict>
		<key>@MMK_R_ja-deva</key>
		<integer>28</integer>
		<key>@MMK_R_va-deva</key>
		<real>20.799999237060547</real>
	</dict>
	<key>jh-deva</key>
	<dict>
		<key>@MMK_R_na-deva</key>
		<real>10.399999618530273</real>
	</dict>
	<key>jh_r-deva</key>
	<dict>
		<key>@MMK_R_dda-deva</key>
		<integer>0</integer>
		<key>@MMK_R_la-deva</key>
		<real>41.599998474121094</real>
		<key>@MMK_R_ny_ra-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_va-deva</key>
		<integer>52</integer>
	</dict>
	<key>k_ss-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>-10.399999618530273</real>
	</dict>
	<key>l-deva</key>
	<dict>
		<key>@MMK_R_ba-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_ga-deva</key>
		<real>41.599998474121094</real>
		<key>@MMK_R_ha-deva</key>
		<real>-28.079999923706055</real>
		<key>@MMK_R_ja-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_la-deva</key>
		<real>16.639999389648438</real>
		<key>@MMK_R_ta-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_tha-deva</key>
		<real>-42.639999389648438</real>
		<key>@MMK_R_va-deva</key>
		<real>17.680000305175781</real>
		<key>@MMK_R_ya-deva</key>
		<real>11.439999580383301</real>
	</dict>
	<key>l_r-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_va-deva</key>
		<real>10.399999618530273</real>
	</dict>
	<key>m-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-41.599998474121094</real>
		<key>@MMK_R_ha-deva</key>
		<real>-41.599998474121094</real>
	</dict>
	<key>m_r-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>31.200000762939453</real>
	</dict>
	<key>n-deva</key>
	<dict>
		<key>@MMK_R_d_dha-deva</key>
		<real>-22.879999160766602</real>
		<key>@MMK_R_ga-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_j_nya-deva</key>
		<integer>-52</integer>
		<key>@MMK_R_kha-deva</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_tha-deva</key>
		<real>-93.599998474121094</real>
		<key>@MMK_R_ya-deva</key>
		<real>-20.799999237060547</real>
	</dict>
	<key>n_n-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>-9.3599996566772461</real>
	</dict>
	<key>n_r-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_na-deva</key>
		<integer>30</integer>
		<key>@MMK_R_va-deva</key>
		<real>20.799999237060547</real>
	</dict>
	<key>ny-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<integer>-52</integer>
		<key>@MMK_R_cha-deva</key>
		<real>-20.799999237060547</real>
		<key>@MMK_R_d_dha-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_ga-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_na-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_sha-deva</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_tha-deva</key>
		<integer>-52</integer>
		<key>c_ca-deva.alt</key>
		<real>-31.200000762939453</real>
		<key>c_la-deva.loclMAR</key>
		<real>-20.799999237060547</real>
	</dict>
	<key>ny_j-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>20.799999237060547</real>
	</dict>
	<key>ny_r-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>8.3199996948242188</real>
	</dict>
	<key>one</key>
	<dict>
		<key>one</key>
		<real>-41.599998474121094</real>
	</dict>
	<key>ph_ra-deva</key>
	<dict>
		<key>@MMK_R_pa-deva</key>
		<integer>20</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>quoteleft</key>
		<real>-28.079999923706055</real>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>quoteright</key>
		<real>-28.079999923706055</real>
		<key>s</key>
		<real>-28.079999923706055</real>
		<key>space</key>
		<real>-41.599998474121094</real>
	</dict>
	<key>r</key>
	<dict>
		<key>comma</key>
		<real>-41.599998474121094</real>
		<key>period</key>
		<real>-41.599998474121094</real>
		<key>quoteright</key>
		<real>28.079999923706055</real>
	</dict>
	<key>racute</key>
	<dict>
		<key>comma</key>
		<real>-41.599998474121094</real>
		<key>period</key>
		<real>-41.599998474121094</real>
		<key>quoteright</key>
		<real>28.079999923706055</real>
	</dict>
	<key>rcaron</key>
	<dict>
		<key>comma</key>
		<real>-41.599998474121094</real>
		<key>period</key>
		<real>-41.599998474121094</real>
		<key>quoteright</key>
		<real>28.079999923706055</real>
	</dict>
	<key>rr-deva</key>
	<dict>
		<key>@MMK_R_va-deva</key>
		<real>10.399999618530273</real>
	</dict>
	<key>s-deva</key>
	<dict>
		<key>@MMK_R_na-deva</key>
		<real>31.200000762939453</real>
		<key>@MMK_R_va-deva</key>
		<real>5.1999998092651367</real>
	</dict>
	<key>s_r-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>-10.399999618530273</real>
		<key>@MMK_R_va-deva</key>
		<real>10.399999618530273</real>
	</dict>
	<key>s_t_r-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_va-deva</key>
		<real>20.799999237060547</real>
	</dict>
	<key>sh_c-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>-10.399999618530273</real>
		<key>@MMK_R_va-deva</key>
		<real>5.1999998092651367</real>
	</dict>
	<key>sh_l-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_va-deva</key>
		<real>20.799999237060547</real>
	</dict>
	<key>sh_n-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_va-deva</key>
		<real>31.200000762939453</real>
	</dict>
	<key>sh_r-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>31.200000762939453</real>
		<key>@MMK_R_va-deva</key>
		<real>20.799999237060547</real>
	</dict>
	<key>sh_v-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>10.399999618530273</real>
		<key>@MMK_R_va-deva</key>
		<real>20.799999237060547</real>
	</dict>
	<key>space</key>
	<dict>
		<key>A</key>
		<real>-28.079999923706055</real>
		<key>Aogonek</key>
		<real>-28.079999923706055</real>
		<key>T</key>
		<integer>0</integer>
		<key>Tcaron</key>
		<integer>0</integer>
		<key>Tcommaaccent</key>
		<integer>0</integer>
		<key>Y</key>
		<real>-12.479999542236328</real>
	</dict>
	<key>t-deva</key>
	<dict>
		<key>@MMK_R_d_ba-deva</key>
		<real>-20.799999237060547</real>
		<key>@MMK_R_d_na-deva</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_dha-deva</key>
		<real>-20.799999237060547</real>
		<key>@MMK_R_gha-deva</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_ja-deva</key>
		<real>-4.1599998474121094</real>
		<key>@MMK_R_n_na-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_ny_ca-deva</key>
		<real>-16.639999389648438</real>
		<key>@MMK_R_ny_ra-deva</key>
		<real>-17.680000305175781</real>
		<key>@MMK_R_tt_na-deva</key>
		<real>-20.799999237060547</real>
		<key>dda-deva.MAW</key>
		<real>-83.199996948242188</real>
		<key>k_ss_r-deva</key>
		<integer>-52</integer>
		<key>zha-deva.loclNEP</key>
		<real>-16.639999389648438</real>
	</dict>
	<key>t_r-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>30.159999847412109</real>
		<key>@MMK_R_va-deva</key>
		<real>20.799999237060547</real>
	</dict>
	<key>t_t-deva</key>
	<dict>
		<key>@MMK_R_va-deva</key>
		<real>-20.799999237060547</real>
	</dict>
	<key>th-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-41.599998474121094</real>
		<key>@MMK_R_ca-deva</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_cha-deva</key>
		<real>-20.799999237060547</real>
		<key>@MMK_R_ha-deva</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_j_nya-deva</key>
		<integer>-52</integer>
		<key>@MMK_R_p_la-deva.loclMAR</key>
		<real>-41.599998474121094</real>
		<key>@MMK_R_pa_na-deva</key>
		<real>-10.399999618530273</real>
		<key>@MMK_R_ss_tta-deva</key>
		<real>-31.200000762939453</real>
		<key>@MMK_R_tha-deva</key>
		<real>-62.400001525878906</real>
		<key>@MMK_R_va-deva</key>
		<real>7.2800002098083496</real>
		<key>@MMK_R_ya-deva</key>
		<real>-10.399999618530273</real>
		<key>c_la-deva.loclMAR</key>
		<real>-20.799999237060547</real>
		<key>d_bha-deva</key>
		<real>-20.799999237060547</real>
		<key>p_ta-deva</key>
		<real>-31.200000762939453</real>
	</dict>
	<key>th_r-deva</key>
	<dict>
		<key>@MMK_R_d_na-deva</key>
		<integer>-42</integer>
		<key>@MMK_R_la-deva</key>
		<real>-5.1999998092651367</real>
		<key>@MMK_R_va-deva</key>
		<integer>0</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>comma</key>
		<real>-55.119998931884766</real>
		<key>period</key>
		<real>-55.119998931884766</real>
	</dict>
	<key>v_r-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_va-deva</key>
		<real>-31.200000762939453</real>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<real>-28.079999923706055</real>
		<key>period</key>
		<real>-28.079999923706055</real>
	</dict>
	<key>y</key>
	<dict>
		<key>comma</key>
		<real>-55.119998931884766</real>
		<key>period</key>
		<real>-55.119998931884766</real>
	</dict>
	<key>y-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>13.520000457763672</real>
		<key>@MMK_R_va-deva</key>
		<real>16.639999389648438</real>
	</dict>
	<key>y_r-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<real>30.159999847412109</real>
		<key>@MMK_R_pa-deva</key>
		<real>20.799999237060547</real>
		<key>@MMK_R_va-deva</key>
		<real>37.439998626708984</real>
	</dict>
</dict>
</plist>
