<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1158</integer>
	<key>capHeight</key>
	<integer>630</integer>
	<key>copyright</key>
	<string>Copyright (c) 2012-2015, Omnibus-Type (www.omnibus-type.com omnibus.type@gmail.com)</string>
	<key>descender</key>
	<integer>-534</integer>
	<key>familyName</key>
	<string>PragatiNarrow</string>
	<key>fsType</key>
	<array>
	</array>
	<key>openTypeHeadCreated</key>
	<string>2014/07/11 03:34:57</string>
	<key>openTypeNameDesigner</key>
	<string>Hector Gatti, Marcela Romero, Pablo Cosgaya and Nicolas Silva</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Omnibus-Type</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.omnibus-type.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>PragatiNarrow</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2VendorID</key>
	<string>OMNI</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-11</integer>
		<integer>0</integer>
		<integer>484</integer>
		<integer>495</integer>
		<integer>630</integer>
		<integer>641</integer>
		<integer>665</integer>
		<integer>672</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-11</integer>
		<integer>0</integer>
		<integer>489</integer>
		<integer>500</integer>
		<integer>630</integer>
		<integer>641</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-168</integer>
		<integer>-159</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>68</integer>
		<integer>75</integer>
		<integer>77</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>75</integer>
		<integer>79</integer>
		<integer>81</integer>
		<integer>84</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>6</integer>
	<key>xHeight</key>
	<integer>484</integer>
</dict>
</plist>
