<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_c-deva</key>
	<array>
		<string>c_r-deva</string>
		<string>c-deva</string>
	</array>
	<key>@MMK_L_gh_r-deva</key>
	<array>
		<string>gh_n-deva</string>
		<string>gh_r-deva</string>
	</array>
	<key>@MMK_L_k-deva</key>
	<array>
		<string>k_r-deva</string>
		<string>ph_r-deva</string>
		<string>k_r-deva.01</string>
		<string>ph_r-deva.01</string>
		<string>k-deva</string>
		<string>ph-deva</string>
		<string>q-deva</string>
		<string>f-deva</string>
		<string>jh-deva.loclNEP.01</string>
		<string>k-deva.01</string>
		<string>ph-deva.01</string>
		<string>q-deva.01</string>
		<string>f-deva.01</string>
		<string>jh-deva.loclNEP</string>
	</array>
	<key>@MMK_L_kh-deva</key>
	<array>
		<string>kh_r-deva</string>
		<string>kh-deva</string>
		<string>khh-deva</string>
	</array>
	<key>@MMK_L_n-deva</key>
	<array>
		<string>n-deva</string>
		<string>nnn-deva</string>
	</array>
	<key>@MMK_L_n-deva.01</key>
	<array>
		<string>n-deva.01</string>
		<string>nnn-deva.01</string>
	</array>
	<key>@MMK_L_p-deva</key>
	<array>
		<string>p-deva</string>
		<string>ss-deva</string>
	</array>
	<key>@MMK_L_p_r-deva</key>
	<array>
		<string>p_n-deva</string>
		<string>p_r-deva</string>
		<string>ss_r-deva</string>
	</array>
	<key>@MMK_L_t-deva</key>
	<array>
		<string>t_t-deva</string>
		<string>t-deva</string>
	</array>
	<key>@MMK_L_t-deva.01</key>
	<array>
		<string>t_t-deva.01</string>
		<string>t-deva.01</string>
	</array>
	<key>@MMK_L_v-deva</key>
	<array>
		<string>b_r-deva</string>
		<string>v_r-deva</string>
		<string>b-deva</string>
		<string>v-deva</string>
	</array>
	<key>@MMK_R_a-deva</key>
	<array>
		<string>aShort-deva</string>
		<string>aCandra-deva</string>
		<string>a-deva</string>
		<string>aa-deva</string>
		<string>oCandra-deva</string>
		<string>oShort-deva</string>
		<string>o-deva</string>
		<string>au-deva</string>
		<string>oe-deva</string>
		<string>ooe-deva</string>
		<string>aw-deva</string>
		<string>ue-deva</string>
		<string>uue-deva</string>
	</array>
	<key>@MMK_R_ba-deva</key>
	<array>
		<string>ba-deva</string>
		<string>bba-deva</string>
	</array>
	<key>@MMK_R_bha-deva</key>
	<array>
		<string>bha-deva</string>
		<string>jha-deva.loclNEP</string>
		<string>bh_ra-deva</string>
		<string>bh_r-deva</string>
		<string>bh-deva</string>
		<string>jh-deva.loclNEP.01</string>
		<string>jh-deva.loclNEP</string>
	</array>
	<key>@MMK_R_c_ra-deva</key>
	<array>
		<string>c_ra-deva</string>
		<string>c_r-deva</string>
	</array>
	<key>@MMK_R_ca-deva</key>
	<array>
		<string>ca-deva</string>
		<string>c_ca-deva</string>
		<string>c_la-deva</string>
		<string>c-deva</string>
	</array>
	<key>@MMK_R_cha-deva</key>
	<array>
		<string>cha-deva</string>
		<string>ch_ya-deva</string>
		<string>ch_la-deva</string>
		<string>ch-deva</string>
	</array>
	<key>@MMK_R_d_ba-deva</key>
	<array>
		<string>d_ba-deva</string>
		<string>d_ba_uMatra-deva</string>
		<string>d_ba_uuMatra-deva</string>
		<string>d_b_ra-deva</string>
		<string>d_va-deva</string>
		<string>d_va_uMatra-deva</string>
		<string>d_va_uuMatra-deva</string>
		<string>d_v_ra-deva</string>
		<string>d_rVocalicMatra-deva</string>
	</array>
	<key>@MMK_R_d_da-deva</key>
	<array>
		<string>d_da-deva</string>
		<string>d_d_ya-deva</string>
	</array>
	<key>@MMK_R_d_dha-deva</key>
	<array>
		<string>d_dha-deva</string>
		<string>d_dha_uMatra-deva</string>
		<string>d_dha_uuMatra-deva</string>
		<string>d_dh_ya-deva</string>
		<string>d_dh_r_ya-deva</string>
	</array>
	<key>@MMK_R_d_gha-deva</key>
	<array>
		<string>d_gha-deva</string>
		<string>d_gha_uMatra-deva</string>
		<string>d_gha_uuMatra-deva</string>
		<string>d_gh_ya-deva</string>
		<string>d_gh_r_ya-deva</string>
	</array>
	<key>@MMK_R_d_ma-deva</key>
	<array>
		<string>d_ma-deva</string>
		<string>d_m-deva</string>
	</array>
	<key>@MMK_R_d_na-deva</key>
	<array>
		<string>d_ga-deva</string>
		<string>d_ga_uMatra-deva</string>
		<string>d_ga_uuMatra-deva</string>
		<string>d_g_ra-deva</string>
	</array>
	<key>@MMK_R_d_ra-deva</key>
	<array>
		<string>d_ra-deva</string>
		<string>d_ra_uMatra-deva</string>
		<string>d_ra_uuMatra-deva</string>
	</array>
	<key>@MMK_R_d_ya-deva</key>
	<array>
		<string>d_ya-deva</string>
		<string>d_y-deva</string>
	</array>
	<key>@MMK_R_da-deva</key>
	<array>
		<string>d-deva</string>
	</array>
	<key>@MMK_R_dda-deva</key>
	<array>
		<string>i-deva</string>
		<string>ii-deva</string>
		<string>nga-deva</string>
		<string>jha-deva</string>
		<string>dda-deva</string>
		<string>dddha-deva</string>
		<string>ddda-deva</string>
		<string>ng_ya-deva</string>
		<string>jh_ra-deva</string>
		<string>jh_r-deva</string>
		<string>dd_ma-deva</string>
		<string>dd_ya-deva</string>
		<string>ng-deva</string>
		<string>jh-deva</string>
		<string>dd-deva</string>
	</array>
	<key>@MMK_R_dha-deva</key>
	<array>
		<string>dha-deva</string>
		<string>dh_ra-deva</string>
		<string>dh_r-deva</string>
		<string>dh-deva</string>
	</array>
	<key>@MMK_R_e-deva</key>
	<array>
		<string>eCandra-deva</string>
		<string>eShort-deva</string>
		<string>e-deva</string>
		<string>ai-deva</string>
	</array>
	<key>@MMK_R_g_na-deva</key>
	<array>
		<string>g_na-deva</string>
		<string>g_n-deva</string>
	</array>
	<key>@MMK_R_ga-deva</key>
	<array>
		<string>ga-deva</string>
		<string>ghha-deva</string>
		<string>gga-deva</string>
		<string>g_ra-deva</string>
		<string>g_r-deva</string>
		<string>g-deva</string>
		<string>ghh-deva</string>
	</array>
	<key>@MMK_R_gha-deva</key>
	<array>
		<string>gha-deva</string>
		<string>gh_na-deva</string>
		<string>gh_n-deva</string>
		<string>gh_ra-deva</string>
		<string>gh_r-deva</string>
		<string>gh-deva</string>
	</array>
	<key>@MMK_R_ha-deva</key>
	<array>
		<string>ha-deva</string>
		<string>ha_uMatra-deva</string>
		<string>ha_uuMatra-deva</string>
		<string>ha_rVocalicMatra-deva</string>
		<string>ha_rrVocalicMatra-deva</string>
		<string>h_nna-deva</string>
		<string>h_na-deva</string>
		<string>h_ma-deva</string>
		<string>h_ya-deva</string>
		<string>h_ra-deva</string>
		<string>h_la-deva</string>
		<string>h_va-deva</string>
		<string>h-deva</string>
	</array>
	<key>@MMK_R_j_ja-deva</key>
	<array>
		<string>j_ja-deva</string>
		<string>j_j-deva</string>
	</array>
	<key>@MMK_R_j_nya-deva</key>
	<array>
		<string>j_nya-deva</string>
		<string>j_ny-deva</string>
		<string>j_ny_ra-deva</string>
		<string>j_ny_r-deva</string>
	</array>
	<key>@MMK_R_ja-deva</key>
	<array>
		<string>ja-deva</string>
		<string>za-deva</string>
		<string>zha-deva</string>
		<string>jja-deva</string>
		<string>j_ra-deva</string>
		<string>j_r-deva</string>
		<string>j-deva</string>
		<string>j-deva.01</string>
	</array>
	<key>@MMK_R_k_ka-deva</key>
	<array>
		<string>k_ka-deva</string>
		<string>k_va-deva</string>
	</array>
	<key>@MMK_R_k_ssa-deva</key>
	<array>
		<string>k_ssa-deva</string>
		<string>k_ss-deva</string>
		<string>k_ss_ra-deva</string>
		<string>k_ss-deva.01</string>
	</array>
	<key>@MMK_R_k_ta-deva</key>
	<array>
		<string>k_ta-deva</string>
		<string>t_ta-deva</string>
		<string>t_t-deva</string>
		<string>t_t-deva.01</string>
	</array>
	<key>@MMK_R_kha-deva</key>
	<array>
		<string>kha-deva</string>
		<string>khha-deva</string>
		<string>kh_na-deva</string>
		<string>kh_ra-deva</string>
		<string>kh_r-deva</string>
		<string>kh-deva</string>
		<string>khh-deva</string>
	</array>
	<key>@MMK_R_la-deva</key>
	<array>
		<string>lVocalic-deva</string>
		<string>llVocalic-deva</string>
		<string>la-deva</string>
		<string>la-deva.loclMAR</string>
		<string>l_ra-deva</string>
		<string>l_la-deva</string>
		<string>l_r-deva</string>
		<string>l-deva</string>
	</array>
	<key>@MMK_R_lla-deva</key>
	<array>
		<string>lla-deva</string>
		<string>llla-deva</string>
		<string>ll_ya-deva</string>
		<string>ll-deva</string>
		<string>lll-deva</string>
	</array>
	<key>@MMK_R_ma-deva</key>
	<array>
		<string>ma-deva</string>
		<string>m_ra-deva</string>
		<string>m_r-deva</string>
		<string>m-deva</string>
	</array>
	<key>@MMK_R_n_na-deva</key>
	<array>
		<string>n_na-deva</string>
		<string>n_n-deva</string>
	</array>
	<key>@MMK_R_na-deva</key>
	<array>
		<string>na-deva</string>
		<string>nnna-deva</string>
		<string>n_ra-deva</string>
		<string>n_r-deva</string>
		<string>n-deva</string>
		<string>nnn-deva</string>
		<string>n-deva.01</string>
		<string>nnn-deva.01</string>
	</array>
	<key>@MMK_R_ny_ca-deva</key>
	<array>
		<string>ny_ca-deva</string>
		<string>ny_c-deva</string>
		<string>ny_ja-deva</string>
		<string>ny_j-deva</string>
	</array>
	<key>@MMK_R_ny_ra-deva</key>
	<array>
		<string>ny_ra-deva</string>
		<string>ny_r-deva</string>
	</array>
	<key>@MMK_R_nya-deva</key>
	<array>
		<string>nya-deva</string>
		<string>ny-deva</string>
	</array>
	<key>@MMK_R_p_la-deva.loclMAR</key>
	<array>
		<string>p_la-deva.loclMAR</string>
	</array>
	<key>@MMK_R_p_ra-deva</key>
	<array>
		<string>p_ra-deva</string>
		<string>p_r-deva</string>
		<string>ph_ra-deva</string>
	</array>
	<key>@MMK_R_pa-deva</key>
	<array>
		<string>nna-deva</string>
		<string>pa-deva</string>
		<string>pha-deva</string>
		<string>ssa-deva</string>
		<string>fa-deva</string>
		<string>nn_ra-deva</string>
		<string>nn_r-deva</string>
		<string>p_la-deva</string>
		<string>ph_la-deva</string>
		<string>ph_r-deva</string>
		<string>ss_ra-deva</string>
		<string>ss_r-deva</string>
		<string>f_ra-deva</string>
		<string>ph_r-deva.01</string>
		<string>nn-deva</string>
		<string>p-deva</string>
		<string>ph-deva</string>
		<string>ss-deva</string>
		<string>z-deva</string>
		<string>f-deva</string>
		<string>ph-deva.01</string>
		<string>f-deva.01</string>
	</array>
	<key>@MMK_R_pa_na-deva</key>
	<array>
		<string>p_na-deva</string>
		<string>p_n-deva</string>
	</array>
	<key>@MMK_R_ra-deva</key>
	<array>
		<string>ra-deva</string>
		<string>rra-deva</string>
		<string>sa-deva</string>
		<string>ra_uMatra-deva</string>
		<string>ra_uuMatra-deva</string>
		<string>s_t_ra-deva</string>
		<string>s_t_r-deva</string>
		<string>s_ra-deva</string>
		<string>s_r-deva</string>
		<string>s-deva</string>
	</array>
	<key>@MMK_R_sh_ca-deva</key>
	<array>
		<string>sh_rVocalic-deva</string>
		<string>sh_ca-deva</string>
		<string>sh_c-deva</string>
	</array>
	<key>@MMK_R_sh_la-deva</key>
	<array>
		<string>sh_la-deva</string>
		<string>sh_l-deva</string>
	</array>
	<key>@MMK_R_sh_ra-deva</key>
	<array>
		<string>sh_na-deva</string>
		<string>sh_n-deva</string>
		<string>sh_ra-deva</string>
		<string>sh_r-deva</string>
	</array>
	<key>@MMK_R_sh_va-deva</key>
	<array>
		<string>sh_va-deva</string>
		<string>sh_v-deva</string>
		<string>sh_la-deva.loclMAR</string>
	</array>
	<key>@MMK_R_sha-deva</key>
	<array>
		<string>sha-deva</string>
		<string>sh-deva</string>
		<string>sh-deva.ss02</string>
	</array>
	<key>@MMK_R_sha-deva.loclMAR</key>
	<array>
		<string>sha-deva.loclMAR</string>
		<string>sh-deva.loclMAR</string>
	</array>
	<key>@MMK_R_ss_tt_va-deva</key>
	<array>
		<string>ss_tt_va-deva</string>
		<string>ss_tth_va-deva</string>
	</array>
	<key>@MMK_R_ss_tta-deva</key>
	<array>
		<string>ss_tta-deva</string>
		<string>ss_tt_ya-deva</string>
		<string>ss_ttha-deva</string>
		<string>ss_tth_ya-deva</string>
	</array>
	<key>@MMK_R_t_ra-deva</key>
	<array>
		<string>t_ra-deva</string>
		<string>t_r-deva</string>
		<string>k_ra-deva.loclNEP</string>
	</array>
	<key>@MMK_R_ta-deva</key>
	<array>
		<string>ta-deva</string>
		<string>t-deva</string>
	</array>
	<key>@MMK_R_tha-deva</key>
	<array>
		<string>tha-deva</string>
		<string>th_ra-deva</string>
		<string>th_r-deva</string>
		<string>th-deva</string>
	</array>
	<key>@MMK_R_tt_na-deva</key>
	<array>
		<string>tt_na-deva</string>
	</array>
	<key>@MMK_R_tt_tta-deva</key>
	<array>
		<string>tt_tta-deva</string>
		<string>tt_ttha-deva</string>
		<string>tt_ddha-deva</string>
		<string>tt_va-deva</string>
		<string>tth_ttha-deva</string>
		<string>tth_na-deva</string>
		<string>tth_va-deva</string>
		<string>ddh_ddha-deva</string>
		<string>ddh_na-deva</string>
		<string>ddh_va-deva</string>
	</array>
	<key>@MMK_R_tta-deva</key>
	<array>
		<string>tta-deva</string>
		<string>ttha-deva</string>
		<string>ddha-deva</string>
		<string>da-deva</string>
		<string>rha-deva</string>
		<string>tt_ya-deva</string>
		<string>tth_ya-deva</string>
		<string>ddh_ya-deva</string>
		<string>d_na-deva</string>
		<string>d_na_uMatra-deva</string>
		<string>d_na_uuMatra-deva</string>
		<string>tt-deva</string>
		<string>tth-deva</string>
		<string>ddh-deva</string>
	</array>
	<key>@MMK_R_u-deva</key>
	<array>
		<string>u-deva</string>
		<string>uu-deva</string>
	</array>
	<key>@MMK_R_va-deva</key>
	<array>
		<string>ka-deva</string>
		<string>va-deva</string>
		<string>qa-deva</string>
		<string>k_ra-deva</string>
		<string>k_la-deva</string>
		<string>k_r-deva</string>
		<string>b_ra-deva</string>
		<string>b_r-deva</string>
		<string>v_ra-deva</string>
		<string>v_r-deva</string>
		<string>k_r-deva.01</string>
		<string>k-deva</string>
		<string>b-deva</string>
		<string>v-deva</string>
		<string>q-deva</string>
		<string>k-deva.01</string>
		<string>q-deva.01</string>
	</array>
	<key>@MMK_R_ya-deva</key>
	<array>
		<string>ya-deva</string>
		<string>yya-deva</string>
		<string>jjya-deva</string>
		<string>y_ra-deva</string>
		<string>y_r-deva</string>
		<string>y-deva</string>
	</array>
</dict>
</plist>
