<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>890</integer>
	<key>capHeight</key>
	<integer>606</integer>
	<key>copyright</key>
	<string>Copyright (c) 2012-2014, Omnibus-Type (www.omnibus-type.com omnibus.type@gmail.com) with Reserved Font Name 'Puralecka'</string>
	<key>descender</key>
	<integer>-404</integer>
	<key>familyName</key>
	<string>Puralecka Narrow</string>
	<key>openTypeHeadCreated</key>
	<string>2014/07/11 03:34:57</string>
	<key>openTypeNameDesigner</key>
	<string>Hector Gatti, Marcela Romero, Pablo Cosgaya and Nicolas Silva</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.omnibus-type.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Puralecka Narrow</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2VendorID</key>
	<string>OMNI</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>panose</key>
	<array>
		<integer>2</integer>
		<integer>11</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>11</integer>
		<integer>4</integer>
	</array>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>465</integer>
		<integer>477</integer>
		<integer>606</integer>
		<integer>618</integer>
		<integer>639</integer>
		<integer>647</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-162</integer>
		<integer>-153</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>65</integer>
		<integer>72</integer>
		<integer>74</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>72</integer>
		<integer>76</integer>
		<integer>78</integer>
		<integer>81</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>4</integer>
	<key>xHeight</key>
	<integer>465</integer>
</dict>
</plist>
