<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-54</integer>
		<key>Tcaron</key>
		<integer>-54</integer>
		<key>V</key>
		<integer>-54</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>Y</key>
		<integer>-66</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>space</key>
		<integer>-28</integer>
		<key>uni021A</key>
		<integer>-54</integer>
		<key>v</key>
		<integer>-28</integer>
		<key>w</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>-28</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
		<key>T</key>
		<integer>-54</integer>
		<key>Tcaron</key>
		<integer>-54</integer>
		<key>V</key>
		<integer>-54</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>Y</key>
		<integer>-66</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>space</key>
		<integer>-28</integer>
		<key>uni021A</key>
		<integer>-54</integer>
		<key>v</key>
		<integer>-28</integer>
		<key>w</key>
		<integer>-12</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>Aogonek</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>period</key>
		<integer>-80</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-54</integer>
		<key>Tcaron</key>
		<integer>-54</integer>
		<key>V</key>
		<integer>-54</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>Y</key>
		<integer>-66</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>space</key>
		<integer>-12</integer>
		<key>uni021A</key>
		<integer>-54</integer>
		<key>y</key>
		<integer>-28</integer>
	</dict>
	<key>Lacute</key>
	<dict>
		<key>T</key>
		<integer>-54</integer>
		<key>Tcaron</key>
		<integer>-54</integer>
		<key>V</key>
		<integer>-54</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>Y</key>
		<integer>-66</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>space</key>
		<integer>-12</integer>
		<key>uni021A</key>
		<integer>-54</integer>
		<key>y</key>
		<integer>-28</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-54</integer>
		<key>Aogonek</key>
		<integer>-54</integer>
		<key>comma</key>
		<integer>-94</integer>
		<key>period</key>
		<integer>-94</integer>
		<key>space</key>
		<integer>-12</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>Tcaron</key>
		<integer>0</integer>
		<key>V</key>
		<integer>-12</integer>
		<key>W</key>
		<integer>-12</integer>
		<key>Y</key>
		<integer>-28</integer>
		<key>uni021A</key>
		<integer>0</integer>
	</dict>
	<key>Racute</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>Tcaron</key>
		<integer>0</integer>
		<key>V</key>
		<integer>-12</integer>
		<key>W</key>
		<integer>-12</integer>
		<key>Y</key>
		<integer>-28</integer>
		<key>uni021A</key>
		<integer>0</integer>
	</dict>
	<key>Rcaron</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>Tcaron</key>
		<integer>0</integer>
		<key>V</key>
		<integer>-12</integer>
		<key>W</key>
		<integer>-12</integer>
		<key>Y</key>
		<integer>-28</integer>
		<key>uni021A</key>
		<integer>0</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-54</integer>
		<key>Aogonek</key>
		<integer>-54</integer>
		<key>O</key>
		<integer>-12</integer>
		<key>Ohungarumlaut</key>
		<integer>-12</integer>
		<key>a</key>
		<integer>-54</integer>
		<key>aogonek</key>
		<integer>-54</integer>
		<key>c</key>
		<integer>-54</integer>
		<key>colon</key>
		<integer>-80</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>e</key>
		<integer>-54</integer>
		<key>eogonek</key>
		<integer>-54</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>i</key>
		<integer>-12</integer>
		<key>o</key>
		<integer>-54</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>r</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-54</integer>
		<key>semicolon</key>
		<integer>-80</integer>
		<key>space</key>
		<integer>0</integer>
		<key>u</key>
		<integer>-54</integer>
		<key>w</key>
		<integer>-54</integer>
		<key>y</key>
		<integer>-54</integer>
	</dict>
	<key>Tcaron</key>
	<dict>
		<key>A</key>
		<integer>-54</integer>
		<key>Aogonek</key>
		<integer>-54</integer>
		<key>O</key>
		<integer>-12</integer>
		<key>Ohungarumlaut</key>
		<integer>-12</integer>
		<key>a</key>
		<integer>-54</integer>
		<key>aogonek</key>
		<integer>-54</integer>
		<key>c</key>
		<integer>-54</integer>
		<key>colon</key>
		<integer>-80</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>e</key>
		<integer>-54</integer>
		<key>eogonek</key>
		<integer>-54</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>i</key>
		<integer>-12</integer>
		<key>o</key>
		<integer>-54</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>r</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-54</integer>
		<key>semicolon</key>
		<integer>-80</integer>
		<key>space</key>
		<integer>0</integer>
		<key>u</key>
		<integer>-54</integer>
		<key>w</key>
		<integer>-54</integer>
		<key>y</key>
		<integer>-54</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-54</integer>
		<key>Aogonek</key>
		<integer>-54</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>aogonek</key>
		<integer>-40</integer>
		<key>colon</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-66</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>eogonek</key>
		<integer>-40</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>i</key>
		<integer>-12</integer>
		<key>o</key>
		<integer>-54</integer>
		<key>period</key>
		<integer>-66</integer>
		<key>r</key>
		<integer>-40</integer>
		<key>semicolon</key>
		<integer>-40</integer>
		<key>u</key>
		<integer>-28</integer>
		<key>y</key>
		<integer>-28</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>Aogonek</key>
		<integer>-40</integer>
		<key>a</key>
		<integer>-28</integer>
		<key>aogonek</key>
		<integer>-28</integer>
		<key>colon</key>
		<integer>-12</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-12</integer>
		<key>eogonek</key>
		<integer>-12</integer>
		<key>hyphen</key>
		<integer>-14</integer>
		<key>i</key>
		<integer>-6</integer>
		<key>o</key>
		<integer>-12</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>r</key>
		<integer>-12</integer>
		<key>semicolon</key>
		<integer>-12</integer>
		<key>u</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>-12</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-66</integer>
		<key>Aogonek</key>
		<integer>-66</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>aogonek</key>
		<integer>-40</integer>
		<key>colon</key>
		<integer>-54</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>eogonek</key>
		<integer>-40</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>i</key>
		<integer>-28</integer>
		<key>o</key>
		<integer>-54</integer>
		<key>p</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>q</key>
		<integer>-54</integer>
		<key>semicolon</key>
		<integer>-54</integer>
		<key>space</key>
		<integer>-12</integer>
		<key>u</key>
		<integer>-40</integer>
		<key>v</key>
		<integer>-40</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>f</key>
		<integer>0</integer>
		<key>quoteright</key>
		<integer>12</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>one</key>
		<integer>-40</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>quoteleft</key>
		<integer>-28</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>quoteright</key>
		<integer>-28</integer>
		<key>s</key>
		<integer>-28</integer>
		<key>space</key>
		<integer>-40</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>28</integer>
	</dict>
	<key>racute</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>28</integer>
	</dict>
	<key>rcaron</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>28</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>A</key>
		<integer>-28</integer>
		<key>Aogonek</key>
		<integer>-28</integer>
		<key>T</key>
		<integer>0</integer>
		<key>Tcaron</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>-12</integer>
		<key>uni021A</key>
		<integer>0</integer>
	</dict>
	<key>uni021A</key>
	<dict>
		<key>A</key>
		<integer>-54</integer>
		<key>Aogonek</key>
		<integer>-54</integer>
		<key>O</key>
		<integer>-12</integer>
		<key>Ohungarumlaut</key>
		<integer>-12</integer>
		<key>a</key>
		<integer>-54</integer>
		<key>aogonek</key>
		<integer>-54</integer>
		<key>c</key>
		<integer>-54</integer>
		<key>colon</key>
		<integer>-80</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>e</key>
		<integer>-54</integer>
		<key>eogonek</key>
		<integer>-54</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>i</key>
		<integer>-12</integer>
		<key>o</key>
		<integer>-54</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>r</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-54</integer>
		<key>semicolon</key>
		<integer>-80</integer>
		<key>space</key>
		<integer>0</integer>
		<key>u</key>
		<integer>-54</integer>
		<key>w</key>
		<integer>-54</integer>
		<key>y</key>
		<integer>-54</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>comma</key>
		<integer>-54</integer>
		<key>period</key>
		<integer>-54</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<integer>-28</integer>
		<key>period</key>
		<integer>-28</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>comma</key>
		<integer>-54</integer>
		<key>period</key>
		<integer>-54</integer>
	</dict>
</dict>
</plist>
