<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-52</integer>
		<key>Tcaron</key>
		<integer>-52</integer>
		<key>Tcommaaccent</key>
		<integer>-52</integer>
		<key>V</key>
		<integer>-52</integer>
		<key>W</key>
		<integer>-22</integer>
		<key>Y</key>
		<integer>-48</integer>
		<key>quoteright</key>
		<integer>-56</integer>
		<key>space</key>
		<integer>-44</integer>
		<key>v</key>
		<integer>-8</integer>
		<key>w</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>-8</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
		<key>T</key>
		<integer>-52</integer>
		<key>Tcaron</key>
		<integer>-52</integer>
		<key>Tcommaaccent</key>
		<integer>-52</integer>
		<key>V</key>
		<integer>-52</integer>
		<key>W</key>
		<integer>-22</integer>
		<key>Y</key>
		<integer>-48</integer>
		<key>quoteright</key>
		<integer>-56</integer>
		<key>space</key>
		<integer>-44</integer>
		<key>v</key>
		<integer>-8</integer>
		<key>w</key>
		<integer>-12</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>Aogonek</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>period</key>
		<integer>-80</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-52</integer>
		<key>Tcaron</key>
		<integer>-52</integer>
		<key>Tcommaaccent</key>
		<integer>-52</integer>
		<key>V</key>
		<integer>-52</integer>
		<key>W</key>
		<integer>-56</integer>
		<key>Y</key>
		<integer>-48</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>space</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-26</integer>
	</dict>
	<key>Lacute</key>
	<dict>
		<key>T</key>
		<integer>-52</integer>
		<key>Tcaron</key>
		<integer>-52</integer>
		<key>Tcommaaccent</key>
		<integer>-52</integer>
		<key>V</key>
		<integer>-52</integer>
		<key>W</key>
		<integer>-56</integer>
		<key>Y</key>
		<integer>-48</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>space</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-26</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-52</integer>
		<key>Aogonek</key>
		<integer>-52</integer>
		<key>comma</key>
		<integer>-92</integer>
		<key>period</key>
		<integer>-92</integer>
		<key>space</key>
		<integer>-12</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>T</key>
		<integer>-16</integer>
		<key>Tcaron</key>
		<integer>-16</integer>
		<key>Tcommaaccent</key>
		<integer>-16</integer>
		<key>V</key>
		<integer>-12</integer>
		<key>W</key>
		<integer>-12</integer>
		<key>Y</key>
		<integer>-8</integer>
	</dict>
	<key>Racute</key>
	<dict>
		<key>T</key>
		<integer>-16</integer>
		<key>Tcaron</key>
		<integer>-16</integer>
		<key>Tcommaaccent</key>
		<integer>-16</integer>
		<key>V</key>
		<integer>-12</integer>
		<key>W</key>
		<integer>-12</integer>
		<key>Y</key>
		<integer>-8</integer>
	</dict>
	<key>Rcaron</key>
	<dict>
		<key>T</key>
		<integer>-16</integer>
		<key>Tcaron</key>
		<integer>-16</integer>
		<key>Tcommaaccent</key>
		<integer>-16</integer>
		<key>V</key>
		<integer>-12</integer>
		<key>W</key>
		<integer>-12</integer>
		<key>Y</key>
		<integer>-8</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-52</integer>
		<key>Aogonek</key>
		<integer>-52</integer>
		<key>O</key>
		<integer>-12</integer>
		<key>Ohungarumlaut</key>
		<integer>-12</integer>
		<key>a</key>
		<integer>-88</integer>
		<key>aogonek</key>
		<integer>-88</integer>
		<key>c</key>
		<integer>-88</integer>
		<key>colon</key>
		<integer>-80</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>e</key>
		<integer>-88</integer>
		<key>eogonek</key>
		<integer>-88</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>i</key>
		<integer>-16</integer>
		<key>o</key>
		<integer>-88</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>r</key>
		<integer>-22</integer>
		<key>s</key>
		<integer>-64</integer>
		<key>semicolon</key>
		<integer>-80</integer>
		<key>space</key>
		<integer>-16</integer>
		<key>u</key>
		<integer>-18</integer>
		<key>w</key>
		<integer>-36</integer>
		<key>y</key>
		<integer>-36</integer>
	</dict>
	<key>Tcaron</key>
	<dict>
		<key>A</key>
		<integer>-52</integer>
		<key>Aogonek</key>
		<integer>-52</integer>
		<key>O</key>
		<integer>-12</integer>
		<key>Ohungarumlaut</key>
		<integer>-12</integer>
		<key>a</key>
		<integer>-88</integer>
		<key>aogonek</key>
		<integer>-88</integer>
		<key>c</key>
		<integer>-88</integer>
		<key>colon</key>
		<integer>-80</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>e</key>
		<integer>-88</integer>
		<key>eogonek</key>
		<integer>-88</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>i</key>
		<integer>-16</integer>
		<key>o</key>
		<integer>-88</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>r</key>
		<integer>-22</integer>
		<key>s</key>
		<integer>-64</integer>
		<key>semicolon</key>
		<integer>-80</integer>
		<key>space</key>
		<integer>-16</integer>
		<key>u</key>
		<integer>-18</integer>
		<key>w</key>
		<integer>-36</integer>
		<key>y</key>
		<integer>-36</integer>
	</dict>
	<key>Tcommaaccent</key>
	<dict>
		<key>A</key>
		<integer>-52</integer>
		<key>Aogonek</key>
		<integer>-52</integer>
		<key>O</key>
		<integer>-12</integer>
		<key>Ohungarumlaut</key>
		<integer>-12</integer>
		<key>a</key>
		<integer>-88</integer>
		<key>aogonek</key>
		<integer>-88</integer>
		<key>c</key>
		<integer>-88</integer>
		<key>colon</key>
		<integer>-80</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>e</key>
		<integer>-88</integer>
		<key>eogonek</key>
		<integer>-88</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>i</key>
		<integer>-16</integer>
		<key>o</key>
		<integer>-88</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>r</key>
		<integer>-22</integer>
		<key>s</key>
		<integer>-64</integer>
		<key>semicolon</key>
		<integer>-80</integer>
		<key>space</key>
		<integer>-16</integer>
		<key>u</key>
		<integer>-18</integer>
		<key>w</key>
		<integer>-36</integer>
		<key>y</key>
		<integer>-36</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-52</integer>
		<key>Aogonek</key>
		<integer>-52</integer>
		<key>a</key>
		<integer>-56</integer>
		<key>aogonek</key>
		<integer>-56</integer>
		<key>colon</key>
		<integer>-22</integer>
		<key>comma</key>
		<integer>-66</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>eogonek</key>
		<integer>-40</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>i</key>
		<integer>-12</integer>
		<key>o</key>
		<integer>-36</integer>
		<key>period</key>
		<integer>-66</integer>
		<key>r</key>
		<integer>-22</integer>
		<key>semicolon</key>
		<integer>-22</integer>
		<key>u</key>
		<integer>-26</integer>
		<key>y</key>
		<integer>-26</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-22</integer>
		<key>Aogonek</key>
		<integer>-22</integer>
		<key>a</key>
		<integer>-26</integer>
		<key>aogonek</key>
		<integer>-26</integer>
		<key>colon</key>
		<integer>-12</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-12</integer>
		<key>eogonek</key>
		<integer>-12</integer>
		<key>hyphen</key>
		<integer>-12</integer>
		<key>i</key>
		<integer>2</integer>
		<key>o</key>
		<integer>-12</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>r</key>
		<integer>-12</integer>
		<key>semicolon</key>
		<integer>-12</integer>
		<key>u</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>-4</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-48</integer>
		<key>Aogonek</key>
		<integer>-48</integer>
		<key>a</key>
		<integer>-56</integer>
		<key>aogonek</key>
		<integer>-56</integer>
		<key>colon</key>
		<integer>-36</integer>
		<key>comma</key>
		<integer>-96</integer>
		<key>e</key>
		<integer>-74</integer>
		<key>eogonek</key>
		<integer>-74</integer>
		<key>hyphen</key>
		<integer>-74</integer>
		<key>i</key>
		<integer>-26</integer>
		<key>o</key>
		<integer>-70</integer>
		<key>p</key>
		<integer>-56</integer>
		<key>period</key>
		<integer>-96</integer>
		<key>q</key>
		<integer>-70</integer>
		<key>semicolon</key>
		<integer>-44</integer>
		<key>space</key>
		<integer>-12</integer>
		<key>u</key>
		<integer>-40</integer>
		<key>v</key>
		<integer>-40</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>f</key>
		<integer>-16</integer>
		<key>quoteright</key>
		<integer>12</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>one</key>
		<integer>-56</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>quoteleft</key>
		<integer>-8</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>quoteright</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-8</integer>
		<key>space</key>
		<integer>-22</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>26</integer>
	</dict>
	<key>racute</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>26</integer>
	</dict>
	<key>rcaron</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>26</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>A</key>
		<integer>-44</integer>
		<key>Aogonek</key>
		<integer>-44</integer>
		<key>T</key>
		<integer>-16</integer>
		<key>Tcaron</key>
		<integer>-16</integer>
		<key>Tcommaaccent</key>
		<integer>-16</integer>
		<key>Y</key>
		<integer>-12</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>comma</key>
		<integer>-52</integer>
		<key>period</key>
		<integer>-52</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<integer>-44</integer>
		<key>period</key>
		<integer>-44</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>comma</key>
		<integer>-52</integer>
		<key>period</key>
		<integer>-52</integer>
	</dict>
</dict>
</plist>
