<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>A34C64EA-7EDE-4867-A49E-E8192F9D79D5</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weight</key>
	<string>Light</string>
	<key>com.schriftgestaltung.weightValue</key>
	<real>62</real>
	<key>com.schriftgestaltung.widthValue</key>
	<real>90</real>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>nsuperior</string>
		<string>Delta</string>
		<string>Omega</string>
		<string>mu</string>
		<string>pi</string>
		<string>ka-deva</string>
		<string>kha-deva</string>
		<string>ga-deva</string>
		<string>gha-deva</string>
		<string>nga-deva</string>
		<string>ca-deva</string>
		<string>cha-deva</string>
		<string>ja-deva</string>
		<string>jha-deva</string>
		<string>nya-deva</string>
		<string>tta-deva</string>
		<string>ttha-deva</string>
		<string>dda-deva</string>
		<string>ddha-deva</string>
		<string>nna-deva</string>
		<string>ta-deva</string>
		<string>tha-deva</string>
		<string>da-deva</string>
		<string>dha-deva</string>
		<string>na-deva</string>
		<string>nnna-deva</string>
		<string>pa-deva</string>
		<string>pha-deva</string>
		<string>ba-deva</string>
		<string>bha-deva</string>
		<string>ma-deva</string>
		<string>ya-deva</string>
		<string>ra-deva</string>
		<string>rra-deva</string>
		<string>la-deva</string>
		<string>lla-deva</string>
		<string>llla-deva</string>
		<string>va-deva</string>
		<string>sha-deva</string>
		<string>ssa-deva</string>
		<string>sa-deva</string>
		<string>ha-deva</string>
		<string>qa-deva</string>
		<string>khha-deva</string>
		<string>ghha-deva</string>
		<string>za-deva</string>
		<string>dddha-deva</string>
		<string>rha-deva</string>
		<string>fa-deva</string>
		<string>yya-deva</string>
		<string>zha-deva</string>
		<string>jjya-deva</string>
		<string>gga-deva</string>
		<string>jja-deva</string>
		<string>ddda-deva</string>
		<string>bba-deva</string>
		<string>jha-deva.NEP</string>
		<string>la-deva.loclMAR</string>
		<string>sha-deva.loclMAR</string>
		<string>ya-deva.post</string>
		<string>va-deva.post</string>
		<string>ka_uMatra-deva</string>
		<string>ka_uuMatra-deva</string>
		<string>k_ka-deva</string>
		<string>k_ta-deva</string>
		<string>k_ra-deva</string>
		<string>k_va-deva</string>
		<string>k_ssa-deva</string>
		<string>k_ss_ra-deva</string>
		<string>kh_ra-deva</string>
		<string>g_ra-deva</string>
		<string>gh_ra-deva</string>
		<string>ng_ka-deva</string>
		<string>ng_k_ssa-deva</string>
		<string>ng_kha-deva</string>
		<string>ng_ga-deva</string>
		<string>ng_gha-deva</string>
		<string>ng_ma-deva</string>
		<string>c_ra-deva</string>
		<string>j_nya-deva</string>
		<string>j_ny_ra-deva</string>
		<string>j_ra-deva</string>
		<string>jh_ra-deva</string>
		<string>ny_ra-deva</string>
		<string>tt_tta-deva</string>
		<string>tt_ttha-deva</string>
		<string>tt_ddha-deva</string>
		<string>tt_ya-deva</string>
		<string>tt_va-deva</string>
		<string>tth_ttha-deva</string>
		<string>tth_ya-deva</string>
		<string>dd_tta-deva</string>
		<string>dd_dda-deva</string>
		<string>dd_dda_uuMatra-deva</string>
		<string>dd_ddha-deva</string>
		<string>dd_ya-deva</string>
		<string>ddh_ddha-deva</string>
		<string>ddh_ya-deva</string>
		<string>nn_ra-deva</string>
		<string>t_ta-deva</string>
		<string>t_ra-deva</string>
		<string>th_ra-deva</string>
		<string>d_da-deva</string>
		<string>d_d_ya-deva</string>
		<string>d_ya-deva</string>
		<string>d_ra-deva</string>
		<string>dh_ra-deva</string>
		<string>n_ra-deva</string>
		<string>p_ra-deva</string>
		<string>pha_uMatra-deva</string>
		<string>pha_uuMatra-deva</string>
		<string>ph_ra-deva</string>
		<string>b_ra-deva</string>
		<string>bh_ra-deva</string>
		<string>m_ra-deva</string>
		<string>y_ra-deva</string>
		<string>ra_uMatra-deva</string>
		<string>ra_uuMatra-deva</string>
		<string>l_ra-deva</string>
		<string>v_ra-deva</string>
		<string>sh_rVocalic-deva</string>
		<string>sh_ra-deva</string>
		<string>ss_ra-deva</string>
		<string>s_t_ra-deva</string>
		<string>s_ra-deva</string>
		<string>h_ya-deva</string>
		<string>h_ra-deva</string>
		<string>f_ra-deva</string>
		<string>k_ra-deva.NEP</string>
		<string>j_nya-deva.alt</string>
		<string>aShort-deva</string>
		<string>aCandra-deva</string>
		<string>a-deva</string>
		<string>aa-deva</string>
		<string>i-deva</string>
		<string>ii-deva</string>
		<string>u-deva</string>
		<string>uu-deva</string>
		<string>rVocalic-deva</string>
		<string>rrVocalic-deva</string>
		<string>lVocalic-deva</string>
		<string>llVocalic-deva</string>
		<string>eCandra-deva</string>
		<string>eShort-deva</string>
		<string>e-deva</string>
		<string>ai-deva</string>
		<string>oCandra-deva</string>
		<string>oShort-deva</string>
		<string>o-deva</string>
		<string>au-deva</string>
		<string>oe-deva</string>
		<string>ooe-deva</string>
		<string>aw-deva</string>
		<string>ue-deva</string>
		<string>uue-deva</string>
		<string>k-deva</string>
		<string>k_ss-deva</string>
		<string>kh-deva</string>
		<string>g-deva</string>
		<string>gh-deva</string>
		<string>ng-deva</string>
		<string>ng_k-deva</string>
		<string>c-deva</string>
		<string>ch-deva</string>
		<string>j-deva</string>
		<string>j_ny-deva</string>
		<string>jh-deva</string>
		<string>ny-deva</string>
		<string>tt-deva</string>
		<string>tth-deva</string>
		<string>dd-deva</string>
		<string>ddh-deva</string>
		<string>nn-deva</string>
		<string>t-deva</string>
		<string>t_t-deva</string>
		<string>t_r-deva</string>
		<string>th-deva</string>
		<string>d-deva</string>
		<string>dh-deva</string>
		<string>n-deva</string>
		<string>nnn-deva</string>
		<string>p-deva</string>
		<string>ph-deva</string>
		<string>b-deva</string>
		<string>b_r-deva</string>
		<string>bh-deva</string>
		<string>m-deva</string>
		<string>y-deva</string>
		<string>rr-deva</string>
		<string>l-deva</string>
		<string>ll-deva</string>
		<string>lll-deva</string>
		<string>v-deva</string>
		<string>sh-deva</string>
		<string>ss-deva</string>
		<string>s-deva</string>
		<string>h-deva</string>
		<string>q-deva</string>
		<string>khh-deva</string>
		<string>ghh-deva</string>
		<string>z-deva</string>
		<string>f-deva</string>
		<string>aaMatra-deva</string>
		<string>iMatra_anusvara-deva</string>
		<string>iMatra_reph-deva</string>
		<string>iMatra_reph_anusvara-deva</string>
		<string>iMatra-deva</string>
		<string>iiMatra_anusvara-deva</string>
		<string>iiMatra_reph-deva</string>
		<string>iiMatra_reph_anusvara-deva</string>
		<string>iiMatra-deva</string>
		<string>oCandraMatra-deva</string>
		<string>oShortMatra-deva</string>
		<string>oMatra_anusvara-deva</string>
		<string>oMatra_reph-deva</string>
		<string>oMatra_reph_anusvara-deva</string>
		<string>oMatra-deva</string>
		<string>auMatra_anusvara-deva</string>
		<string>auMatra_reph-deva</string>
		<string>auMatra_reph_anusvara-deva</string>
		<string>auMatra-deva</string>
		<string>prishthaMatraE-deva</string>
		<string>ooeMatra-deva</string>
		<string>awMatra-deva</string>
		<string>jh-deva.NEP</string>
		<string>sh-deva.loclMAR</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>zero-deva</string>
		<string>one-deva</string>
		<string>two-deva</string>
		<string>three-deva</string>
		<string>four-deva</string>
		<string>five-deva</string>
		<string>six-deva</string>
		<string>seven-deva</string>
		<string>eight-deva</string>
		<string>nine-deva</string>
		<string>five-deva.loclNEP</string>
		<string>eight-deva.loclNEP</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdbl</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>overline</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>underscoredbl</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>horizontalbar</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quotereversed</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>glottalstop-deva</string>
		<string>danda-deva</string>
		<string>dbldanda-deva</string>
		<string>abbreviation-deva</string>
		<string>space</string>
		<string>nbspace</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>euro</string>
		<string>florin</string>
		<string>franc</string>
		<string>lira</string>
		<string>peseta</string>
		<string>rupeeIndian</string>
		<string>sterling</string>
		<string>yen</string>
		<string>Ohm</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>bulletoperator</string>
		<string>divide</string>
		<string>divisionslash</string>
		<string>equal</string>
		<string>equivalence</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>increment</string>
		<string>infinity</string>
		<string>integral</string>
		<string>integralbt</string>
		<string>integraltp</string>
		<string>intersection</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>logicalnotReversed</string>
		<string>micro</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>orthogonal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>arrowleft</string>
		<string>arrowboth</string>
		<string>arrowupdn</string>
		<string>arrowupdownbase</string>
		<string>dottedcircle</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>careof</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>literSign</string>
		<string>numero</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>house</string>
		<string>minute</string>
		<string>second</string>
		<string>avagraha-deva</string>
		<string>om-deva</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>commaaccent</string>
		<string>firsttonechinese</string>
		<string>visarga-deva</string>
		<string>uMatra-deva</string>
		<string>uuMatra-deva</string>
		<string>rVocalicMatra-deva</string>
		<string>rrVocalicMatra-deva</string>
		<string>eCandraMatra-deva</string>
		<string>candraBindu-deva</string>
		<string>eShortMatra-deva</string>
		<string>eMatra-deva</string>
		<string>eMatra_anusvara-deva</string>
		<string>eMatra_reph-deva</string>
		<string>eMatra_reph_anusvara-deva</string>
		<string>aiMatra-deva</string>
		<string>aiMatra_anusvara-deva</string>
		<string>aiMatra_reph-deva</string>
		<string>aiMatra_reph_anusvara-deva</string>
		<string>anusvara-deva</string>
		<string>halant-deva</string>
		<string>nukta-deva</string>
		<string>reph-deva</string>
		<string>reph_anusvara-deva</string>
		<string>rakar-deva</string>
		<string>rakar_uMatra-deva</string>
		<string>rakar_uuMatra-deva</string>
		<string>invertedCandraBindu-deva</string>
		<string>oeMatra-deva</string>
		<string>ueMatra-deva</string>
		<string>uueMatra-deva</string>
		<string>udatta-deva</string>
		<string>reph-deva.loclMAR</string>
		<string>rupeeIndian-deva</string>
		<string>NULL</string>
		<string>uni000C</string>
		<string>uniA8F8</string>
		<string>uniA8F9</string>
		<string>uniA8F2</string>
		<string>uniA8F7</string>
		<string>uniA8F4</string>
		<string>uniA8F3</string>
	</array>
</dict>
</plist>
