<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_c-deva</key>
	<array>
		<string>uni091A094D0072</string>
		<string>uni091A094D</string>
	</array>
	<key>@MMK_L_gh_r-deva</key>
	<array>
		<string>uni0918094D0928094D</string>
		<string>uni0918094D0072</string>
	</array>
	<key>@MMK_L_k-deva</key>
	<array>
		<string>uni0915094D0072</string>
		<string>uni092B094D0072</string>
		<string>uni0915094D0072.01</string>
		<string>uni092B094D0072.01</string>
		<string>uni0915094D</string>
		<string>uni092B094D</string>
		<string>uni0958094D</string>
		<string>uni095E094D</string>
		<string>uni091D094D.loclNEP.01</string>
		<string>uni0915094D.01</string>
		<string>uni092B094D.01</string>
		<string>uni0958094D.01</string>
		<string>uni095E094D.01</string>
		<string>uni091D094D.loclNEP</string>
	</array>
	<key>@MMK_L_kh-deva</key>
	<array>
		<string>uni0916094D0072</string>
		<string>uni0916094D</string>
		<string>uni0959094D</string>
	</array>
	<key>@MMK_L_n-deva</key>
	<array>
		<string>uni0928094D</string>
		<string>uni0929094D</string>
	</array>
	<key>@MMK_L_n-deva.01</key>
	<array>
		<string>uni0928094D.01</string>
		<string>uni0929094D.01</string>
	</array>
	<key>@MMK_L_p-deva</key>
	<array>
		<string>uni092A094D</string>
		<string>uni0937094D</string>
	</array>
	<key>@MMK_L_p_r-deva</key>
	<array>
		<string>uni092A094D0928094D</string>
		<string>uni092A094D0072</string>
		<string>uni0937094D0072</string>
	</array>
	<key>@MMK_L_t-deva</key>
	<array>
		<string>uni0924094D0924094D</string>
		<string>uni0924094D</string>
	</array>
	<key>@MMK_L_t-deva.01</key>
	<array>
		<string>uni0924094D0924094D.01</string>
		<string>uni0924094D.01</string>
	</array>
	<key>@MMK_L_v-deva</key>
	<array>
		<string>uni092C094D0072</string>
		<string>uni0935094D0072</string>
		<string>uni092C094D</string>
		<string>uni0935094D</string>
	</array>
	<key>@MMK_R_a-deva</key>
	<array>
		<string>uni0904</string>
		<string>uni0972</string>
		<string>uni0905</string>
		<string>uni0906</string>
		<string>uni0911</string>
		<string>uni0912</string>
		<string>uni0913</string>
		<string>uni0914</string>
		<string>uni0973</string>
		<string>uni0974</string>
		<string>uni0975</string>
		<string>uni0976</string>
		<string>uni0977</string>
	</array>
	<key>@MMK_R_ba-deva</key>
	<array>
		<string>uni092C</string>
		<string>uni097F</string>
	</array>
	<key>@MMK_R_bha-deva</key>
	<array>
		<string>uni092D</string>
		<string>uni091D.loclNEP</string>
		<string>uni092D094D0930</string>
		<string>uni092D094D0072</string>
		<string>uni092D094D</string>
		<string>uni091D094D.loclNEP.01</string>
		<string>uni091D094D.loclNEP</string>
	</array>
	<key>@MMK_R_c_ra-deva</key>
	<array>
		<string>uni091A094D0930</string>
		<string>uni091A094D0072</string>
	</array>
	<key>@MMK_R_ca-deva</key>
	<array>
		<string>uni091A</string>
		<string>uni091A094D091A</string>
		<string>uni091A094D0932</string>
		<string>uni091A094D</string>
	</array>
	<key>@MMK_R_cha-deva</key>
	<array>
		<string>uni091B</string>
		<string>uni091B094D092F</string>
		<string>uni091B094D0932</string>
		<string>uni091B094D</string>
	</array>
	<key>@MMK_R_d_ba-deva</key>
	<array>
		<string>uni0926094D092C</string>
		<string>uni0926094D092C0941</string>
		<string>uni0926094D092C0942</string>
		<string>uni0926094D092C094D0930</string>
		<string>uni0926094D0935</string>
		<string>uni0926094D09350941</string>
		<string>uni0926094D09350942</string>
		<string>uni0926094D0935094D0930</string>
		<string>uni0926094D0943</string>
	</array>
	<key>@MMK_R_d_da-deva</key>
	<array>
		<string>uni0926094D0926</string>
		<string>uni0926094D0926094D092F</string>
	</array>
	<key>@MMK_R_d_dha-deva</key>
	<array>
		<string>uni0926094D0927</string>
		<string>uni0926094D09270941</string>
		<string>uni0926094D09270942</string>
		<string>uni0926094D0927094D092F</string>
		<string>uni0926094D0927094D0072092F</string>
	</array>
	<key>@MMK_R_d_gha-deva</key>
	<array>
		<string>uni0926094D0918</string>
		<string>uni0926094D09180941</string>
		<string>uni0926094D09180942</string>
		<string>uni0926094D0918094D092F</string>
		<string>uni0926094D0918094D0072092F</string>
	</array>
	<key>@MMK_R_d_ma-deva</key>
	<array>
		<string>uni0926094D092E</string>
		<string>uni0926094D092E094D</string>
	</array>
	<key>@MMK_R_d_na-deva</key>
	<array>
		<string>uni0926094D0917</string>
		<string>uni0926094D09170941</string>
		<string>uni0926094D09170942</string>
		<string>uni0926094D0917094D0930</string>
	</array>
	<key>@MMK_R_d_ra-deva</key>
	<array>
		<string>uni0926094D0930</string>
		<string>uni0926094D09300941</string>
		<string>uni0926094D09300942</string>
	</array>
	<key>@MMK_R_d_ya-deva</key>
	<array>
		<string>uni0926094D092F</string>
		<string>uni0926094D092F094D</string>
	</array>
	<key>@MMK_R_da-deva</key>
	<array>
		<string>uni0926094D</string>
	</array>
	<key>@MMK_R_dda-deva</key>
	<array>
		<string>uni0907</string>
		<string>uni0908</string>
		<string>uni0919</string>
		<string>uni091D</string>
		<string>uni0921</string>
		<string>uni095C</string>
		<string>uni097E</string>
		<string>uni0919094D092F</string>
		<string>uni091D094D0930</string>
		<string>uni091D094D0072</string>
		<string>uni0921094D092E</string>
		<string>uni0921094D092F</string>
		<string>uni0919094D</string>
		<string>uni091D094D</string>
		<string>uni0921094D</string>
	</array>
	<key>@MMK_R_dha-deva</key>
	<array>
		<string>uni0927</string>
		<string>uni0927094D0930</string>
		<string>uni0927094D0072</string>
		<string>uni0927094D</string>
	</array>
	<key>@MMK_R_e-deva</key>
	<array>
		<string>uni090D</string>
		<string>uni090E</string>
		<string>uni090F</string>
		<string>uni0910</string>
	</array>
	<key>@MMK_R_g_na-deva</key>
	<array>
		<string>uni0917094D0928</string>
		<string>uni0917094D0928094D</string>
	</array>
	<key>@MMK_R_ga-deva</key>
	<array>
		<string>uni0917</string>
		<string>uni095A</string>
		<string>uni097B</string>
		<string>uni0917094D0930</string>
		<string>uni0917094D0072</string>
		<string>uni0917094D</string>
		<string>uni095A094D</string>
	</array>
	<key>@MMK_R_gha-deva</key>
	<array>
		<string>uni0918</string>
		<string>uni0918094D0928</string>
		<string>uni0918094D0928094D</string>
		<string>uni0918094D0930</string>
		<string>uni0918094D0072</string>
		<string>uni0918094D</string>
	</array>
	<key>@MMK_R_ha-deva</key>
	<array>
		<string>uni0939</string>
		<string>uni09390941</string>
		<string>uni09390942</string>
		<string>uni09390943</string>
		<string>uni09390944</string>
		<string>uni0939094D0923</string>
		<string>uni0939094D0928</string>
		<string>uni0939094D092E</string>
		<string>uni0939094D092F</string>
		<string>uni0939094D0930</string>
		<string>uni0939094D0932</string>
		<string>uni0939094D0935</string>
		<string>uni0939094D</string>
	</array>
	<key>@MMK_R_j_ja-deva</key>
	<array>
		<string>uni091C094D091C</string>
		<string>uni091C094D091C094D</string>
	</array>
	<key>@MMK_R_j_nya-deva</key>
	<array>
		<string>uni091C094D091E</string>
		<string>uni091C094D091E094D</string>
		<string>uni091C094D091E094D0930</string>
		<string>uni091C094D091E094D0072</string>
	</array>
	<key>@MMK_R_ja-deva</key>
	<array>
		<string>uni091C</string>
		<string>uni095B</string>
		<string>uni0979</string>
		<string>uni097C</string>
		<string>uni091C094D0930</string>
		<string>uni091C094D0072</string>
		<string>uni091C094D</string>
		<string>uni091C094D.01</string>
	</array>
	<key>@MMK_R_k_ka-deva</key>
	<array>
		<string>uni0915094D0915</string>
		<string>uni0915094D0935</string>
	</array>
	<key>@MMK_R_k_ssa-deva</key>
	<array>
		<string>uni0915094D0937</string>
		<string>uni0915094D0937094D</string>
		<string>uni0915094D0937094D0930</string>
		<string>uni0915094D0937094D.01</string>
	</array>
	<key>@MMK_R_k_ta-deva</key>
	<array>
		<string>uni0915094D0924</string>
		<string>uni0924094D0924</string>
		<string>uni0924094D0924094D</string>
		<string>uni0924094D0924094D.01</string>
	</array>
	<key>@MMK_R_kha-deva</key>
	<array>
		<string>uni0916</string>
		<string>uni0959</string>
		<string>uni0916094D0928</string>
		<string>uni0916094D0930</string>
		<string>uni0916094D0072</string>
		<string>uni0916094D</string>
		<string>uni0959094D</string>
	</array>
	<key>@MMK_R_la-deva</key>
	<array>
		<string>uni090C</string>
		<string>uni0961</string>
		<string>uni0932</string>
		<string>uni0932.loclMAR</string>
		<string>uni0932094D0930</string>
		<string>uni0932094D0932</string>
		<string>uni0932094D0072</string>
		<string>uni0932094D</string>
	</array>
	<key>@MMK_R_lla-deva</key>
	<array>
		<string>uni0933</string>
		<string>uni0934</string>
		<string>uni0933094D092F</string>
		<string>uni0933094D</string>
		<string>uni0934094D</string>
	</array>
	<key>@MMK_R_ma-deva</key>
	<array>
		<string>uni092E</string>
		<string>uni092E094D0930</string>
		<string>uni092E094D0072</string>
		<string>uni092E094D</string>
	</array>
	<key>@MMK_R_n_na-deva</key>
	<array>
		<string>uni0928094D0928</string>
		<string>uni0928094D0928094D</string>
	</array>
	<key>@MMK_R_na-deva</key>
	<array>
		<string>uni0928</string>
		<string>uni0929</string>
		<string>uni0928094D0930</string>
		<string>uni0928094D0072</string>
		<string>uni0928094D</string>
		<string>uni0929094D</string>
		<string>uni0928094D.01</string>
		<string>uni0929094D.01</string>
	</array>
	<key>@MMK_R_ny_ca-deva</key>
	<array>
		<string>uni091E094D091A</string>
		<string>uni091E094D091A094D</string>
		<string>uni091E094D091C</string>
		<string>uni091E094D091C094D</string>
	</array>
	<key>@MMK_R_ny_ra-deva</key>
	<array>
		<string>uni091E094D0930</string>
		<string>uni091E094D0072</string>
	</array>
	<key>@MMK_R_nya-deva</key>
	<array>
		<string>uni091E</string>
		<string>uni091E094D</string>
	</array>
	<key>@MMK_R_p_la-deva.loclMAR</key>
	<array>
		<string>uni092A094D0932.loclMAR</string>
	</array>
	<key>@MMK_R_p_ra-deva</key>
	<array>
		<string>uni092A094D0930</string>
		<string>uni092A094D0072</string>
		<string>uni092B094D0930</string>
	</array>
	<key>@MMK_R_pa-deva</key>
	<array>
		<string>uni0923</string>
		<string>uni092A</string>
		<string>uni092B</string>
		<string>uni0937</string>
		<string>uni095E</string>
		<string>uni0923094D0930</string>
		<string>uni0923094D0072</string>
		<string>uni092A094D0932</string>
		<string>uni092B094D0932</string>
		<string>uni092B094D0072</string>
		<string>uni0937094D0930</string>
		<string>uni0937094D0072</string>
		<string>uni095E094D0930</string>
		<string>uni092B094D0072.01</string>
		<string>uni0923094D</string>
		<string>uni092A094D</string>
		<string>uni092B094D</string>
		<string>uni0937094D</string>
		<string>uni095B094D</string>
		<string>uni095E094D</string>
		<string>uni092B094D.01</string>
		<string>uni095E094D.01</string>
	</array>
	<key>@MMK_R_pa_na-deva</key>
	<array>
		<string>uni092A094D0928</string>
		<string>uni092A094D0928094D</string>
	</array>
	<key>@MMK_R_ra-deva</key>
	<array>
		<string>uni0930</string>
		<string>uni0931</string>
		<string>uni0938</string>
		<string>uni09300941</string>
		<string>uni09300942</string>
		<string>uni0938094D0924094D0930</string>
		<string>uni0938094D0924094D0072</string>
		<string>uni0938094D0930</string>
		<string>uni0938094D0072</string>
		<string>uni0938094D</string>
	</array>
	<key>@MMK_R_sh_ca-deva</key>
	<array>
		<string>uni0936094D090B</string>
		<string>uni0936094D091A</string>
		<string>uni0936094D091A094D</string>
	</array>
	<key>@MMK_R_sh_la-deva</key>
	<array>
		<string>uni0936094D0932</string>
		<string>uni0936094D0932094D</string>
	</array>
	<key>@MMK_R_sh_ra-deva</key>
	<array>
		<string>uni0936094D0928</string>
		<string>uni0936094D0928094D</string>
		<string>uni0936094D0930</string>
		<string>uni0936094D0072</string>
	</array>
	<key>@MMK_R_sh_va-deva</key>
	<array>
		<string>uni0936094D0935</string>
		<string>uni0936094D0935094D</string>
		<string>uni0936094D0932.loclMAR</string>
	</array>
	<key>@MMK_R_sha-deva</key>
	<array>
		<string>uni0936</string>
		<string>uni0936094D</string>
		<string>uni0936094D.ss02</string>
	</array>
	<key>@MMK_R_sha-deva.loclMAR</key>
	<array>
		<string>uni0936.loclMAR</string>
		<string>uni0936094D.loclMAR</string>
	</array>
	<key>@MMK_R_ss_tt_va-deva</key>
	<array>
		<string>uni0937094D091F094D0935</string>
		<string>uni0937094D0920094D0935</string>
	</array>
	<key>@MMK_R_ss_tta-deva</key>
	<array>
		<string>uni0937094D091F</string>
		<string>uni0937094D091F094D092F</string>
		<string>uni0937094D0920</string>
		<string>uni0937094D0920094D092F</string>
	</array>
	<key>@MMK_R_t_ra-deva</key>
	<array>
		<string>uni0924094D0930</string>
		<string>uni0924094D0072</string>
		<string>uni0915094D0930.loclNEP</string>
	</array>
	<key>@MMK_R_ta-deva</key>
	<array>
		<string>uni0924</string>
		<string>uni0924094D</string>
	</array>
	<key>@MMK_R_tha-deva</key>
	<array>
		<string>uni0925</string>
		<string>uni0925094D0930</string>
		<string>uni0925094D0072</string>
		<string>uni0925094D</string>
	</array>
	<key>@MMK_R_tt_na-deva</key>
	<array>
		<string>uni091F094D0928</string>
	</array>
	<key>@MMK_R_tt_tta-deva</key>
	<array>
		<string>uni091F094D091F</string>
		<string>uni091F094D0920</string>
		<string>uni091F094D0922</string>
		<string>uni091F094D0935</string>
		<string>uni0920094D0920</string>
		<string>uni0920094D0928</string>
		<string>uni0920094D0935</string>
		<string>uni0922094D0922</string>
		<string>uni0922094D0928</string>
		<string>uni0922094D0935</string>
	</array>
	<key>@MMK_R_tta-deva</key>
	<array>
		<string>uni091F</string>
		<string>uni0920</string>
		<string>uni0922</string>
		<string>uni0926</string>
		<string>uni095D</string>
		<string>uni091F094D092F</string>
		<string>uni0920094D092F</string>
		<string>uni0922094D092F</string>
		<string>uni0926094D0928</string>
		<string>uni0926094D09280941</string>
		<string>uni0926094D09280942</string>
		<string>uni091F094D</string>
		<string>uni0920094D</string>
		<string>uni0922094D</string>
	</array>
	<key>@MMK_R_u-deva</key>
	<array>
		<string>uni0909</string>
		<string>uni090A</string>
	</array>
	<key>@MMK_R_va-deva</key>
	<array>
		<string>uni0915</string>
		<string>uni0935</string>
		<string>uni0958</string>
		<string>uni0915094D0930</string>
		<string>uni0915094D0932</string>
		<string>uni0915094D0072</string>
		<string>uni092C094D0930</string>
		<string>uni092C094D0072</string>
		<string>uni0935094D0930</string>
		<string>uni0935094D0072</string>
		<string>uni0915094D0072.01</string>
		<string>uni0915094D</string>
		<string>uni092C094D</string>
		<string>uni0935094D</string>
		<string>uni0958094D</string>
		<string>uni0915094D.01</string>
		<string>uni0958094D.01</string>
	</array>
	<key>@MMK_R_ya-deva</key>
	<array>
		<string>uni092F</string>
		<string>uni095F</string>
		<string>uni097A</string>
		<string>uni092F094D0930</string>
		<string>uni092F094D0072</string>
		<string>uni092F094D</string>
	</array>
</dict>
</plist>
