<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>6F612806-55AD-4202-9302-A343176768ED</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>1</integer>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.weightValue</key>
	<real>106</real>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>uni207F</string>
		<string>Delta</string>
		<string>Omega</string>
		<string>mu</string>
		<string>pi</string>
		<string>uni0904</string>
		<string>uni0972</string>
		<string>uni0905</string>
		<string>uni0906</string>
		<string>uni0907</string>
		<string>uni0908</string>
		<string>uni09080902</string>
		<string>uni0909</string>
		<string>uni090A</string>
		<string>uni090B</string>
		<string>uni0960</string>
		<string>uni090C</string>
		<string>uni0961</string>
		<string>uni090D</string>
		<string>uni090E</string>
		<string>uni090F</string>
		<string>uni0910</string>
		<string>uni0911</string>
		<string>uni0912</string>
		<string>uni0913</string>
		<string>uni0914</string>
		<string>uni0973</string>
		<string>uni0974</string>
		<string>uni0975</string>
		<string>uni0976</string>
		<string>uni0977</string>
		<string>uni093E</string>
		<string>uni093F</string>
		<string>iMatra_base-deva</string>
		<string>uni093F0901</string>
		<string>uni093F0902</string>
		<string>uni093F0930094D</string>
		<string>uni093F0930094D0901</string>
		<string>uni093F0930094D0902</string>
		<string>uni0940</string>
		<string>uni09400901</string>
		<string>uni09400902</string>
		<string>uni09400930094D</string>
		<string>uni09400930094D0901</string>
		<string>uni09400930094D0902</string>
		<string>uni0949</string>
		<string>uni09490902</string>
		<string>uni09490930094D</string>
		<string>uni09490930094D0902</string>
		<string>uni094A</string>
		<string>uni094A0901</string>
		<string>uni094A0902</string>
		<string>uni094A0930094D</string>
		<string>uni094A0930094D0901</string>
		<string>uni094A0930094D0902</string>
		<string>uni094B</string>
		<string>uni094B0901</string>
		<string>uni094B0902</string>
		<string>uni094B0930094D</string>
		<string>uni094B0930094D0901</string>
		<string>uni094B0930094D0902</string>
		<string>uni094C</string>
		<string>uni094C0901</string>
		<string>uni094C0902</string>
		<string>uni094C0930094D</string>
		<string>uni094C0930094D0901</string>
		<string>uni094C0930094D0902</string>
		<string>uni094E</string>
		<string>uni093B</string>
		<string>uni094F</string>
		<string>uni0940.0</string>
		<string>uni09400901.0</string>
		<string>uni09400902.0</string>
		<string>uni09400930094D.0</string>
		<string>uni09400930094D0901.0</string>
		<string>uni09400930094D0902.0</string>
		<string>uni093F.00</string>
		<string>uni093F0901.00</string>
		<string>uni093F0902.00</string>
		<string>uni093F0930094D.00</string>
		<string>uni093F0930094D0901.00</string>
		<string>uni093F0930094D0902.00</string>
		<string>uni093F.01</string>
		<string>uni093F.02</string>
		<string>uni093F.03</string>
		<string>uni093F.04</string>
		<string>uni093F.05</string>
		<string>uni093F.06</string>
		<string>uni093F.07</string>
		<string>uni093F.08</string>
		<string>uni093F.09</string>
		<string>uni093F.10</string>
		<string>uni093F.11</string>
		<string>uni093F.12</string>
		<string>uni093F.13</string>
		<string>uni093F.14</string>
		<string>uni093F.15</string>
		<string>uni093F.16</string>
		<string>uni093F.17</string>
		<string>uni093F.18</string>
		<string>uni093F.19</string>
		<string>uni093F.20</string>
		<string>uni093F.21</string>
		<string>uni093F.22</string>
		<string>uni093F.23</string>
		<string>uni093F.24</string>
		<string>uni093F.25</string>
		<string>uni093F.26</string>
		<string>uni093F.27</string>
		<string>uni093F.28</string>
		<string>uni093F.29</string>
		<string>uni093F.30</string>
		<string>uni093F0901.01</string>
		<string>uni093F0901.02</string>
		<string>uni093F0901.03</string>
		<string>uni093F0901.04</string>
		<string>uni093F0901.05</string>
		<string>uni093F0901.06</string>
		<string>uni093F0901.07</string>
		<string>uni093F0901.08</string>
		<string>uni093F0901.09</string>
		<string>uni093F0901.10</string>
		<string>uni093F0901.11</string>
		<string>uni093F0901.12</string>
		<string>uni093F0901.13</string>
		<string>uni093F0901.14</string>
		<string>uni093F0901.15</string>
		<string>uni093F0901.16</string>
		<string>uni093F0901.17</string>
		<string>uni093F0901.18</string>
		<string>uni093F0901.19</string>
		<string>uni093F0901.20</string>
		<string>uni093F0901.21</string>
		<string>uni093F0901.22</string>
		<string>uni093F0901.23</string>
		<string>uni093F0901.24</string>
		<string>uni093F0901.25</string>
		<string>uni093F0901.26</string>
		<string>uni093F0901.27</string>
		<string>uni093F0901.28</string>
		<string>uni093F0901.29</string>
		<string>uni093F0901.30</string>
		<string>uni093F0902.01</string>
		<string>uni093F0902.02</string>
		<string>uni093F0902.03</string>
		<string>uni093F0902.04</string>
		<string>uni093F0902.05</string>
		<string>uni093F0902.06</string>
		<string>uni093F0902.07</string>
		<string>uni093F0902.08</string>
		<string>uni093F0902.09</string>
		<string>uni093F0902.10</string>
		<string>uni093F0902.11</string>
		<string>uni093F0902.12</string>
		<string>uni093F0902.13</string>
		<string>uni093F0902.14</string>
		<string>uni093F0902.15</string>
		<string>uni093F0902.16</string>
		<string>uni093F0902.17</string>
		<string>uni093F0902.18</string>
		<string>uni093F0902.19</string>
		<string>uni093F0902.20</string>
		<string>uni093F0902.21</string>
		<string>uni093F0902.22</string>
		<string>uni093F0902.23</string>
		<string>uni093F0902.24</string>
		<string>uni093F0902.25</string>
		<string>uni093F0902.26</string>
		<string>uni093F0902.27</string>
		<string>uni093F0902.28</string>
		<string>uni093F0902.29</string>
		<string>uni093F0902.30</string>
		<string>uni093F0930094D.01</string>
		<string>uni093F0930094D.02</string>
		<string>uni093F0930094D.03</string>
		<string>uni093F0930094D.04</string>
		<string>uni093F0930094D.05</string>
		<string>uni093F0930094D.06</string>
		<string>uni093F0930094D.07</string>
		<string>uni093F0930094D.08</string>
		<string>uni093F0930094D.09</string>
		<string>uni093F0930094D.10</string>
		<string>uni093F0930094D.11</string>
		<string>uni093F0930094D.12</string>
		<string>uni093F0930094D.13</string>
		<string>uni093F0930094D.14</string>
		<string>uni093F0930094D.15</string>
		<string>uni093F0930094D.16</string>
		<string>uni093F0930094D.17</string>
		<string>uni093F0930094D.18</string>
		<string>uni093F0930094D.19</string>
		<string>uni093F0930094D.20</string>
		<string>uni093F0930094D.21</string>
		<string>uni093F0930094D.22</string>
		<string>uni093F0930094D.23</string>
		<string>uni093F0930094D.24</string>
		<string>uni093F0930094D.25</string>
		<string>uni093F0930094D.26</string>
		<string>uni093F0930094D.27</string>
		<string>uni093F0930094D.28</string>
		<string>uni093F0930094D.29</string>
		<string>uni093F0930094D.30</string>
		<string>uni093F0930094D0901.01</string>
		<string>uni093F0930094D0901.02</string>
		<string>uni093F0930094D0901.03</string>
		<string>uni093F0930094D0901.04</string>
		<string>uni093F0930094D0901.05</string>
		<string>uni093F0930094D0901.06</string>
		<string>uni093F0930094D0901.07</string>
		<string>uni093F0930094D0901.08</string>
		<string>uni093F0930094D0901.09</string>
		<string>uni093F0930094D0901.10</string>
		<string>uni093F0930094D0901.11</string>
		<string>uni093F0930094D0901.12</string>
		<string>uni093F0930094D0901.13</string>
		<string>uni093F0930094D0901.14</string>
		<string>uni093F0930094D0901.15</string>
		<string>uni093F0930094D0901.16</string>
		<string>uni093F0930094D0901.17</string>
		<string>uni093F0930094D0901.18</string>
		<string>uni093F0930094D0901.19</string>
		<string>uni093F0930094D0901.20</string>
		<string>uni093F0930094D0901.21</string>
		<string>uni093F0930094D0901.22</string>
		<string>uni093F0930094D0901.23</string>
		<string>uni093F0930094D0901.24</string>
		<string>uni093F0930094D0901.25</string>
		<string>uni093F0930094D0901.26</string>
		<string>uni093F0930094D0901.27</string>
		<string>uni093F0930094D0901.28</string>
		<string>uni093F0930094D0901.29</string>
		<string>uni093F0930094D0901.30</string>
		<string>uni093F0930094D0902.01</string>
		<string>uni093F0930094D0902.02</string>
		<string>uni093F0930094D0902.03</string>
		<string>uni093F0930094D0902.04</string>
		<string>uni093F0930094D0902.05</string>
		<string>uni093F0930094D0902.06</string>
		<string>uni093F0930094D0902.07</string>
		<string>uni093F0930094D0902.08</string>
		<string>uni093F0930094D0902.09</string>
		<string>uni093F0930094D0902.10</string>
		<string>uni093F0930094D0902.11</string>
		<string>uni093F0930094D0902.12</string>
		<string>uni093F0930094D0902.13</string>
		<string>uni093F0930094D0902.14</string>
		<string>uni093F0930094D0902.15</string>
		<string>uni093F0930094D0902.16</string>
		<string>uni093F0930094D0902.17</string>
		<string>uni093F0930094D0902.18</string>
		<string>uni093F0930094D0902.19</string>
		<string>uni093F0930094D0902.20</string>
		<string>uni093F0930094D0902.21</string>
		<string>uni093F0930094D0902.22</string>
		<string>uni093F0930094D0902.23</string>
		<string>uni093F0930094D0902.24</string>
		<string>uni093F0930094D0902.25</string>
		<string>uni093F0930094D0902.26</string>
		<string>uni093F0930094D0902.27</string>
		<string>uni093F0930094D0902.28</string>
		<string>uni093F0930094D0902.29</string>
		<string>uni093F0930094D0902.30</string>
		<string>iMatra_base-deva.0</string>
		<string>iMatra_base-deva.00</string>
		<string>iMatra_base-deva.01</string>
		<string>iMatra_base-deva.02</string>
		<string>iMatra_base-deva.03</string>
		<string>iMatra_base-deva.04</string>
		<string>iMatra_base-deva.05</string>
		<string>iMatra_base-deva.06</string>
		<string>iMatra_base-deva.07</string>
		<string>iMatra_base-deva.08</string>
		<string>iMatra_base-deva.09</string>
		<string>iMatra_base-deva.10</string>
		<string>iMatra_base-deva.11</string>
		<string>iMatra_base-deva.12</string>
		<string>iMatra_base-deva.13</string>
		<string>iMatra_base-deva.14</string>
		<string>iMatra_base-deva.15</string>
		<string>iMatra_base-deva.16</string>
		<string>iMatra_base-deva.17</string>
		<string>iMatra_base-deva.18</string>
		<string>iMatra_base-deva.19</string>
		<string>iMatra_base-deva.20</string>
		<string>iMatra_base-deva.21</string>
		<string>iMatra_base-deva.22</string>
		<string>iMatra_base-deva.23</string>
		<string>iMatra_base-deva.24</string>
		<string>iMatra_base-deva.25</string>
		<string>iMatra_base-deva.26</string>
		<string>iMatra_base-deva.27</string>
		<string>iMatra_base-deva.28</string>
		<string>iMatra_base-deva.29</string>
		<string>iMatra_base-deva.30</string>
		<string>uni0915</string>
		<string>uni0916</string>
		<string>uni0917</string>
		<string>uni0918</string>
		<string>uni0919</string>
		<string>uni091A</string>
		<string>uni091B</string>
		<string>uni091C</string>
		<string>uni091D</string>
		<string>uni091E</string>
		<string>uni091F</string>
		<string>uni0920</string>
		<string>uni0921</string>
		<string>uni0978</string>
		<string>uni0922</string>
		<string>uni0923</string>
		<string>uni0924</string>
		<string>uni0925</string>
		<string>uni0926</string>
		<string>uni0927</string>
		<string>uni0928</string>
		<string>uni0929</string>
		<string>uni092A</string>
		<string>uni092B</string>
		<string>uni092C</string>
		<string>uni092D</string>
		<string>uni092E</string>
		<string>uni092F</string>
		<string>uni0930</string>
		<string>uni0931</string>
		<string>uni0932</string>
		<string>uni0933</string>
		<string>uni0934</string>
		<string>uni0935</string>
		<string>uni0936</string>
		<string>uni0937</string>
		<string>uni0938</string>
		<string>uni0939</string>
		<string>uni0958</string>
		<string>uni0959</string>
		<string>uni095A</string>
		<string>uni095B</string>
		<string>uni095C</string>
		<string>uni095D</string>
		<string>uni095E</string>
		<string>uni095F</string>
		<string>uni0979</string>
		<string>uni097A</string>
		<string>uni097B</string>
		<string>uni097C</string>
		<string>uni097E</string>
		<string>uni097F</string>
		<string>uni092F.post.01</string>
		<string>uni0932.loclMAR</string>
		<string>uni0936.loclMAR</string>
		<string>uni091D.loclNEP</string>
		<string>uni0979.loclNEP</string>
		<string>uni092F.post</string>
		<string>uni0935.post</string>
		<string>uni0928.post2</string>
		<string>uni0930.post2</string>
		<string>uni0915094D0915</string>
		<string>uni0915094D0924</string>
		<string>uni0915094D0930</string>
		<string>uni0915094D0932</string>
		<string>uni0915094D0935</string>
		<string>uni0915094D0937</string>
		<string>uni0915094D0937094D</string>
		<string>uni0915094D0937094D0930</string>
		<string>uni0915094D0937094D0072</string>
		<string>uni0915094D0072</string>
		<string>uni0916094D0928</string>
		<string>uni0916094D0930</string>
		<string>uni0916094D0072</string>
		<string>uni0917094D0928</string>
		<string>uni0917094D0928094D</string>
		<string>uni0917094D0930</string>
		<string>uni0917094D0072</string>
		<string>uni0918094D0928</string>
		<string>uni0918094D0928094D</string>
		<string>uni0918094D0930</string>
		<string>uni0918094D0072</string>
		<string>uni0919094D0915</string>
		<string>uni0919094D0915094D</string>
		<string>uni0919094D0915094D0924</string>
		<string>uni0919094D0915094D0924094D092F</string>
		<string>uni0919094D0915094D092F</string>
		<string>uni0919094D0915094D0930</string>
		<string>uni0919094D0915094D0937</string>
		<string>uni0919094D0915094D0937094D092F</string>
		<string>uni0919094D0915094D0072092F</string>
		<string>uni0919094D0916</string>
		<string>uni0919094D0916094D092F</string>
		<string>uni0919094D0917</string>
		<string>uni0919094D0917094D092F</string>
		<string>uni0919094D0917094D0930</string>
		<string>uni0919094D0917094D0072092F</string>
		<string>uni0919094D0918</string>
		<string>uni0919094D0918094D092F</string>
		<string>uni0919094D0918094D0930</string>
		<string>uni0919094D0918094D0072092F</string>
		<string>uni0919094D091A</string>
		<string>uni0919094D0928</string>
		<string>uni0919094D092E</string>
		<string>uni0919094D092E094D092F</string>
		<string>uni0919094D092F</string>
		<string>uni091A094D091A</string>
		<string>uni091A094D091B094D0935</string>
		<string>uni091A094D0930</string>
		<string>uni091A094D0932</string>
		<string>uni091A094D0072</string>
		<string>uni091B094D0928</string>
		<string>uni091B094D092F</string>
		<string>uni091B094D0932</string>
		<string>uni091B094D0935</string>
		<string>uni091C094D091C</string>
		<string>uni091C094D091C094D</string>
		<string>uni091C094D091E</string>
		<string>uni091C094D091E094D</string>
		<string>uni091C094D091E094D0930</string>
		<string>uni091C094D091E094D0072</string>
		<string>uni091C094D0930</string>
		<string>uni091C094D0072</string>
		<string>uni091D094D0930</string>
		<string>uni091D094D0072</string>
		<string>uni091E094D091A</string>
		<string>uni091E094D091A094D</string>
		<string>uni091E094D091C</string>
		<string>uni091E094D091C094D</string>
		<string>uni091E094D0930</string>
		<string>uni091E094D0072</string>
		<string>uni091F094D091F</string>
		<string>uni091F094D091F094D092F</string>
		<string>uni091F094D0920</string>
		<string>uni091F094D0920094D092F</string>
		<string>uni091F094D0922</string>
		<string>uni091F094D0922094D092F</string>
		<string>uni091F094D0924094D0930</string>
		<string>uni091F094D0928</string>
		<string>uni091F094D092F</string>
		<string>uni091F094D0935</string>
		<string>uni0920094D0920</string>
		<string>uni0920094D0920094D092F</string>
		<string>uni0920094D0928</string>
		<string>uni0920094D092F</string>
		<string>uni0920094D0935</string>
		<string>uni0921094D0918</string>
		<string>uni0921094D091F</string>
		<string>uni0921094D091F094D092F</string>
		<string>uni0921094D0921</string>
		<string>uni0921094D0921094D092F</string>
		<string>uni0921094D0922</string>
		<string>uni0921094D0922094D092F</string>
		<string>uni0921094D0928</string>
		<string>uni0921094D092D</string>
		<string>uni0921094D092E</string>
		<string>uni0921094D092F</string>
		<string>uni0921094D0935</string>
		<string>uni0922094D0922</string>
		<string>uni0922094D0922094D092F</string>
		<string>uni0922094D0928</string>
		<string>uni0922094D092F</string>
		<string>uni0922094D0935</string>
		<string>uni0923094D0930</string>
		<string>uni0923094D0072</string>
		<string>uni0924094D0924</string>
		<string>uni0924094D0924094D</string>
		<string>uni0924094D0930</string>
		<string>uni0924094D0072</string>
		<string>uni0925094D0930</string>
		<string>uni0925094D0072</string>
		<string>uni0926094D0917</string>
		<string>uni0926094D09170941</string>
		<string>uni0926094D09170942</string>
		<string>uni0926094D0917094D0930</string>
		<string>uni0926094D0918</string>
		<string>uni0926094D09180941</string>
		<string>uni0926094D09180942</string>
		<string>uni0926094D0918094D092F</string>
		<string>uni0926094D0918094D0930</string>
		<string>uni0926094D0918094D0072092F</string>
		<string>uni0926094D0926</string>
		<string>uni0926094D0926094D092F</string>
		<string>uni0926094D0926094D0935</string>
		<string>uni0926094D0927</string>
		<string>uni0926094D09270941</string>
		<string>uni0926094D09270942</string>
		<string>uni0926094D0927094D092F</string>
		<string>uni0926094D0927094D0930</string>
		<string>uni0926094D0927094D0072092F</string>
		<string>uni0926094D0928</string>
		<string>uni0926094D09280941</string>
		<string>uni0926094D09280942</string>
		<string>uni0926094D092C</string>
		<string>uni0926094D092C0941</string>
		<string>uni0926094D092C0942</string>
		<string>uni0926094D092C094D0930</string>
		<string>uni0926094D092D</string>
		<string>uni0926094D092E</string>
		<string>uni0926094D092E094D</string>
		<string>uni0926094D092F</string>
		<string>uni0926094D092F094D</string>
		<string>uni0926094D0930</string>
		<string>uni0926094D09300941</string>
		<string>uni0926094D09300942</string>
		<string>uni0926094D0935</string>
		<string>uni0926094D09350941</string>
		<string>uni0926094D09350942</string>
		<string>uni0926094D0935094D0930</string>
		<string>uni0926094D0943</string>
		<string>uni0927094D0930</string>
		<string>uni0927094D0072</string>
		<string>uni0928094D0928</string>
		<string>uni0928094D0928094D</string>
		<string>uni0928094D0930</string>
		<string>uni0928094D0072</string>
		<string>uni092A094D0924</string>
		<string>uni092A094D0928</string>
		<string>uni092A094D0928094D</string>
		<string>uni092A094D0930</string>
		<string>uni092A094D0932</string>
		<string>uni092A094D0072</string>
		<string>uni092B094D0930</string>
		<string>uni092B094D0932</string>
		<string>uni092B094D0072</string>
		<string>uni092C094D0930</string>
		<string>uni092C094D0072</string>
		<string>uni092D094D0930</string>
		<string>uni092D094D0072</string>
		<string>uni092E094D0930</string>
		<string>uni092E094D0072</string>
		<string>uni092F094D0930</string>
		<string>uni092F094D0072</string>
		<string>uni09300941</string>
		<string>uni09300942</string>
		<string>uni0932094D0930</string>
		<string>uni0932094D0932</string>
		<string>uni0932094D0072</string>
		<string>uni0933094D092F</string>
		<string>uni0935094D0930</string>
		<string>uni0935094D0072</string>
		<string>uni0936094D090B</string>
		<string>uni0936094D091A</string>
		<string>uni0936094D091A094D</string>
		<string>uni0936094D0928</string>
		<string>uni0936094D0928094D</string>
		<string>uni0936094D0930</string>
		<string>uni0936094D0932</string>
		<string>uni0936094D0932094D</string>
		<string>uni0936094D0935</string>
		<string>uni0936094D0935094D</string>
		<string>uni0936094D0072</string>
		<string>uni0937094D091F</string>
		<string>uni0937094D091F094D092F</string>
		<string>uni0937094D091F094D0935</string>
		<string>uni0937094D0920</string>
		<string>uni0937094D0920094D092F</string>
		<string>uni0937094D0920094D0935</string>
		<string>uni0937094D0930</string>
		<string>uni0937094D0072</string>
		<string>uni0938094D0924094D0930</string>
		<string>uni0938094D0924094D0072</string>
		<string>uni0938094D0930</string>
		<string>uni0938094D0072</string>
		<string>uni09390941</string>
		<string>uni09390942</string>
		<string>uni09390943</string>
		<string>uni09390944</string>
		<string>uni0939094D0923</string>
		<string>uni0939094D0928</string>
		<string>uni0939094D092E</string>
		<string>uni0939094D092F</string>
		<string>uni0939094D0930</string>
		<string>uni0939094D0932</string>
		<string>uni0939094D0935</string>
		<string>uni095E094D0930</string>
		<string>uni091A094D091A.alt</string>
		<string>uni0915094D0937094D.01</string>
		<string>uni0915094D0937094D0072.01</string>
		<string>uni0915094D0072.01</string>
		<string>uni0924094D0924094D.01</string>
		<string>uni092B094D0072.01</string>
		<string>uni0915094D0932.loclMAR</string>
		<string>uni091A094D0932.loclMAR</string>
		<string>uni091B094D0932.loclMAR</string>
		<string>uni092A094D0932.loclMAR</string>
		<string>uni092B094D0932.loclMAR</string>
		<string>uni0932094D0932.loclMAR</string>
		<string>uni0936094D0932.loclMAR</string>
		<string>uni0915094D0930.loclNEP</string>
		<string>uni091C094D091E.alt</string>
		<string>uni0926094D0917.ss02</string>
		<string>uni0915094D</string>
		<string>uni0916094D</string>
		<string>uni0917094D</string>
		<string>uni0918094D</string>
		<string>uni0919094D</string>
		<string>uni091A094D</string>
		<string>uni091B094D</string>
		<string>uni091C094D</string>
		<string>uni091D094D</string>
		<string>uni091E094D</string>
		<string>uni091F094D</string>
		<string>uni0920094D</string>
		<string>uni0921094D</string>
		<string>uni0922094D</string>
		<string>uni0923094D</string>
		<string>uni0924094D</string>
		<string>uni0925094D</string>
		<string>uni0926094D</string>
		<string>uni0927094D</string>
		<string>uni0928094D</string>
		<string>uni0929094D</string>
		<string>uni092A094D</string>
		<string>uni092B094D</string>
		<string>uni092C094D</string>
		<string>uni092D094D</string>
		<string>uni092E094D</string>
		<string>uni092F094D</string>
		<string>uni0931094D</string>
		<string>uni0932094D</string>
		<string>uni0933094D</string>
		<string>uni0934094D</string>
		<string>uni0935094D</string>
		<string>uni0936094D</string>
		<string>uni0937094D</string>
		<string>uni0938094D</string>
		<string>uni0939094D</string>
		<string>uni0958094D</string>
		<string>uni0959094D</string>
		<string>uni095A094D</string>
		<string>uni095B094D</string>
		<string>uni095E094D</string>
		<string>uni091D094D.loclNEP.01</string>
		<string>uni0915094D.01</string>
		<string>uni091C094D.01</string>
		<string>uni0924094D.01</string>
		<string>uni0928094D.01</string>
		<string>uni0929094D.01</string>
		<string>uni092B094D.01</string>
		<string>uni0958094D.01</string>
		<string>uni095E094D.01</string>
		<string>uni0936094D.loclMAR</string>
		<string>uni091D094D.loclNEP</string>
		<string>uni091B094D.post</string>
		<string>uni0936094D.ss02</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>uni00B9</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>uni0966</string>
		<string>uni0967</string>
		<string>uni0968</string>
		<string>uni0969</string>
		<string>uni096A</string>
		<string>uni096B</string>
		<string>uni096C</string>
		<string>uni096D</string>
		<string>uni096E</string>
		<string>uni096F</string>
		<string>uni096B.loclNEP</string>
		<string>uni096E.loclNEP</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdbl</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>uni203E</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>underscoredbl</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>uni2015</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quotereversed</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>uni097D</string>
		<string>uni0964</string>
		<string>uni0965</string>
		<string>uni0970</string>
		<string>uni0971</string>
		<string>uniA8FA</string>
		<string>uniA8FB</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uni200D</string>
		<string>uni200C</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>Euro</string>
		<string>florin</string>
		<string>franc</string>
		<string>lira</string>
		<string>peseta</string>
		<string>uni20B9</string>
		<string>sterling</string>
		<string>yen</string>
		<string>uni2126</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>uni2219</string>
		<string>divide</string>
		<string>uni2215</string>
		<string>equal</string>
		<string>equivalence</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>uni2206</string>
		<string>infinity</string>
		<string>integral</string>
		<string>integralbt</string>
		<string>integraltp</string>
		<string>intersection</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>revlogicalnot</string>
		<string>uni00B5</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>orthogonal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>arrowleft</string>
		<string>arrowboth</string>
		<string>arrowupdn</string>
		<string>arrowupdnbse</string>
		<string>uni25CC</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>uni2105</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>uni2113</string>
		<string>uni2116</string>
		<string>asciicircum</string>
		<string>uni2038</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>house</string>
		<string>minute</string>
		<string>second</string>
		<string>uni093D</string>
		<string>uni0950</string>
		<string>uniA8F8</string>
		<string>uniA8F9</string>
		<string>uni0326</string>
		<string>uni02C9</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>uni0941</string>
		<string>uni0942</string>
		<string>uni0943</string>
		<string>uni0944</string>
		<string>uni0962</string>
		<string>uni0963</string>
		<string>uni0945</string>
		<string>uni09450930094D</string>
		<string>uni0901</string>
		<string>uni0900</string>
		<string>uni0946</string>
		<string>uni09460901</string>
		<string>uni09460902</string>
		<string>uni09460930094D</string>
		<string>uni09460930094D0901</string>
		<string>uni09460930094D0902</string>
		<string>uni0947</string>
		<string>uni09470901</string>
		<string>uni09470902</string>
		<string>uni09470930094D</string>
		<string>uni09470930094D0901</string>
		<string>uni09470930094D0902</string>
		<string>uni0948</string>
		<string>uni09480901</string>
		<string>uni09480902</string>
		<string>uni09480930094D</string>
		<string>uni09480930094D0901</string>
		<string>uni09480930094D0902</string>
		<string>uni0902</string>
		<string>uni094D</string>
		<string>uni093C</string>
		<string>uni093C094D</string>
		<string>uni093C094D0930</string>
		<string>uni093C094D09300941</string>
		<string>uni093C094D09300942</string>
		<string>uni093C094D09300943</string>
		<string>uni093C094D09300944</string>
		<string>uni093C094D09300962</string>
		<string>uni093C094D09300963</string>
		<string>uni0930094D</string>
		<string>uni0930094D0901</string>
		<string>uni0930094D0902</string>
		<string>uni094D0930</string>
		<string>uni094D09300941</string>
		<string>uni094D09300942</string>
		<string>uni094D09300943</string>
		<string>uni094D09300944</string>
		<string>uni094D09300962</string>
		<string>uni094D09300963</string>
		<string>uni0955</string>
		<string>uni093A</string>
		<string>uni0956</string>
		<string>uni0957</string>
		<string>uni0951</string>
		<string>uni0952</string>
		<string>uni0953</string>
		<string>uni0954</string>
		<string>uniA8EA</string>
		<string>uniA8EB</string>
		<string>uniA8EC</string>
		<string>uniA8ED</string>
		<string>uniA8EE</string>
		<string>uniA8EF</string>
		<string>uniA8F0</string>
		<string>uniA8F1</string>
		<string>uniA8E0</string>
		<string>uniA8E1</string>
		<string>uniA8E2</string>
		<string>uniA8E3</string>
		<string>uniA8E4</string>
		<string>uniA8E5</string>
		<string>uniA8E6</string>
		<string>uniA8E7</string>
		<string>uniA8E8</string>
		<string>uniA8E9</string>
		<string>uni0930094D.loclMAR</string>
		<string>uni0941.alt</string>
		<string>uni0942.alt</string>
		<string>uni0901.01</string>
		<string>uni0902.01</string>
		<string>uni0930094D.01</string>
		<string>uni0930094D0901.01</string>
		<string>uni0930094D0902.01</string>
		<string>uni0903</string>
		<string>uniA8F2</string>
		<string>uniA8F3</string>
		<string>uniA8F4</string>
		<string>uniA8F5</string>
		<string>uniA8F6</string>
		<string>uniA8F7</string>
		<string>rupeeIndian-deva</string>
		<string>NULL</string>
		<string>uni000C</string>
		<string>onehalf-deva</string>
		<string>onethird-deva</string>
		<string>twothirds-deva</string>
		<string>onequarter-deva</string>
		<string>threequarters-deva</string>
		<string>oneeighth-deva</string>
		<string>oneeighth-deva.loclNEP</string>
		<string>uni1CF5</string>
		<string>uni1CF6</string>
		<string>uni1CDA</string>
		<string>uni1CDB</string>
		<string>braceleft-deva</string>
		<string>braceright-deva</string>
		<string>bracketleft-deva</string>
		<string>bracketright-deva</string>
		<string>parenleft-deva</string>
		<string>parenright-deva</string>
		<string>endash-deva</string>
		<string>hyphen-deva</string>
		<string>guilsinglleft-deva</string>
		<string>guilsinglright-deva</string>
		<string>quotedblleft-deva</string>
		<string>quotedblright-deva</string>
		<string>quoteleft-deva</string>
		<string>quoteright-deva</string>
		<string>quotesinglbase-deva</string>
		<string>quotedbl-deva</string>
		<string>quotesingle-deva</string>
		<string>rightArc-deva</string>
		<string>rightHalfArc-deva.01</string>
		<string>rightHalfArc-deva.02</string>
	</array>
</dict>
</plist>
