<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>A</key>
    <dict>
      <space>-44</space>
      <quoteright>-56</quoteright>
      <y>-8</y>
      <w>-12</w>
      <v>-8</v>
      <Y>-48</Y>
      <W>-22</W>
      <V>-52</V>
      <Tcommaaccent>-52</Tcommaaccent>
      <Tcaron>-52</Tcaron>
      <T>-52</T>
    </dict>
    <key>Aogonek</key>
    <dict>
      <space>-44</space>
      <quoteright>-56</quoteright>
      <w>-12</w>
      <v>-8</v>
      <Y>-48</Y>
      <W>-22</W>
      <V>-52</V>
      <Tcommaaccent>-52</Tcommaaccent>
      <Tcaron>-52</Tcaron>
      <T>-52</T>
    </dict>
    <key>F</key>
    <dict>
      <period>-80</period>
      <comma>-80</comma>
      <Aogonek>-40</Aogonek>
      <A>-40</A>
    </dict>
    <key>L</key>
    <dict>
      <space>-30</space>
      <quoteright>-40</quoteright>
      <y>-26</y>
      <Y>-48</Y>
      <W>-56</W>
      <V>-52</V>
      <Tcommaaccent>-52</Tcommaaccent>
      <Tcaron>-52</Tcaron>
      <T>-52</T>
    </dict>
    <key>Lacute</key>
    <dict>
      <space>-30</space>
      <quoteright>-40</quoteright>
      <y>-26</y>
      <Y>-48</Y>
      <W>-56</W>
      <V>-52</V>
      <Tcommaaccent>-52</Tcommaaccent>
      <Tcaron>-52</Tcaron>
      <T>-52</T>
    </dict>
    <key>P</key>
    <dict>
      <space>-12</space>
      <period>-92</period>
      <comma>-92</comma>
      <Aogonek>-52</Aogonek>
      <A>-52</A>
    </dict>
    <key>R</key>
    <dict>
      <Y>-8</Y>
      <W>-12</W>
      <V>-12</V>
      <Tcommaaccent>-16</Tcommaaccent>
      <Tcaron>-16</Tcaron>
      <T>-16</T>
    </dict>
    <key>Racute</key>
    <dict>
      <Y>-8</Y>
      <W>-12</W>
      <V>-12</V>
      <Tcommaaccent>-16</Tcommaaccent>
      <Tcaron>-16</Tcaron>
      <T>-16</T>
    </dict>
    <key>Rcaron</key>
    <dict>
      <Y>-8</Y>
      <W>-12</W>
      <V>-12</V>
      <Tcommaaccent>-16</Tcommaaccent>
      <Tcaron>-16</Tcaron>
      <T>-16</T>
    </dict>
    <key>T</key>
    <dict>
      <space>-16</space>
      <hyphen>-40</hyphen>
      <semicolon>-80</semicolon>
      <period>-80</period>
      <comma>-80</comma>
      <colon>-80</colon>
      <y>-36</y>
      <w>-36</w>
      <u>-18</u>
      <s>-64</s>
      <r>-22</r>
      <o>-88</o>
      <i>-16</i>
      <eogonek>-88</eogonek>
      <e>-88</e>
      <c>-88</c>
      <aogonek>-88</aogonek>
      <a>-88</a>
      <Ohungarumlaut>-12</Ohungarumlaut>
      <O>-12</O>
      <Aogonek>-52</Aogonek>
      <A>-52</A>
    </dict>
    <key>Tcaron</key>
    <dict>
      <space>-16</space>
      <hyphen>-40</hyphen>
      <semicolon>-80</semicolon>
      <period>-80</period>
      <comma>-80</comma>
      <colon>-80</colon>
      <y>-36</y>
      <w>-36</w>
      <u>-18</u>
      <s>-64</s>
      <r>-22</r>
      <o>-88</o>
      <i>-16</i>
      <eogonek>-88</eogonek>
      <e>-88</e>
      <c>-88</c>
      <aogonek>-88</aogonek>
      <a>-88</a>
      <Ohungarumlaut>-12</Ohungarumlaut>
      <O>-12</O>
      <Aogonek>-52</Aogonek>
      <A>-52</A>
    </dict>
    <key>Tcommaaccent</key>
    <dict>
      <space>-16</space>
      <hyphen>-40</hyphen>
      <semicolon>-80</semicolon>
      <period>-80</period>
      <comma>-80</comma>
      <colon>-80</colon>
      <y>-36</y>
      <w>-36</w>
      <u>-18</u>
      <s>-64</s>
      <r>-22</r>
      <o>-88</o>
      <i>-16</i>
      <eogonek>-88</eogonek>
      <e>-88</e>
      <c>-88</c>
      <aogonek>-88</aogonek>
      <a>-88</a>
      <Ohungarumlaut>-12</Ohungarumlaut>
      <O>-12</O>
      <Aogonek>-52</Aogonek>
      <A>-52</A>
    </dict>
    <key>V</key>
    <dict>
      <hyphen>-40</hyphen>
      <semicolon>-22</semicolon>
      <period>-66</period>
      <comma>-66</comma>
      <colon>-22</colon>
      <y>-26</y>
      <u>-26</u>
      <r>-22</r>
      <o>-36</o>
      <i>-12</i>
      <eogonek>-40</eogonek>
      <e>-40</e>
      <aogonek>-56</aogonek>
      <a>-56</a>
      <Aogonek>-52</Aogonek>
      <A>-52</A>
    </dict>
    <key>W</key>
    <dict>
      <hyphen>-12</hyphen>
      <semicolon>-12</semicolon>
      <period>-40</period>
      <comma>-40</comma>
      <colon>-12</colon>
      <y>-4</y>
      <u>-12</u>
      <r>-12</r>
      <o>-12</o>
      <i>2</i>
      <eogonek>-12</eogonek>
      <e>-12</e>
      <aogonek>-26</aogonek>
      <a>-26</a>
      <Aogonek>-22</Aogonek>
      <A>-22</A>
    </dict>
    <key>Y</key>
    <dict>
      <space>-12</space>
      <hyphen>-74</hyphen>
      <semicolon>-44</semicolon>
      <period>-96</period>
      <comma>-96</comma>
      <colon>-36</colon>
      <v>-40</v>
      <u>-40</u>
      <q>-70</q>
      <p>-56</p>
      <o>-70</o>
      <i>-26</i>
      <eogonek>-74</eogonek>
      <e>-74</e>
      <aogonek>-56</aogonek>
      <a>-56</a>
      <Aogonek>-48</Aogonek>
      <A>-48</A>
    </dict>
    <key>f</key>
    <dict>
      <quoteright>12</quoteright>
      <f>-16</f>
    </dict>
    <key>r</key>
    <dict>
      <quoteright>26</quoteright>
      <period>-40</period>
      <comma>-40</comma>
    </dict>
    <key>racute</key>
    <dict>
      <quoteright>26</quoteright>
      <period>-40</period>
      <comma>-40</comma>
    </dict>
    <key>rcaron</key>
    <dict>
      <quoteright>26</quoteright>
      <period>-40</period>
      <comma>-40</comma>
    </dict>
    <key>v</key>
    <dict>
      <period>-52</period>
      <comma>-52</comma>
    </dict>
    <key>w</key>
    <dict>
      <period>-44</period>
      <comma>-44</comma>
    </dict>
    <key>y</key>
    <dict>
      <period>-52</period>
      <comma>-52</comma>
    </dict>
    <key>kdeva</key>
    <dict>
      <ladeva>-1</ladeva>
    </dict>
    <key>khdeva</key>
    <dict>
      <shadeva>24</shadeva>
    </dict>
    <key>jdeva</key>
    <dict>
      <jadeva>30</jadeva>
    </dict>
    <key>ndeva</key>
    <dict>
      <t_radeva>40</t_radeva>
    </dict>
    <key>pdeva</key>
    <dict>
      <ladeva>34</ladeva>
    </dict>
    <key>phdeva</key>
    <dict>
      <ladeva>32</ladeva>
    </dict>
    <key>ldeva</key>
    <dict>
      <ladeva>38</ladeva>
    </dict>
    <key>shdeva</key>
    <dict>
      <ladeva>6</ladeva>
    </dict>
    <key>one</key>
    <dict>
      <one>-56</one>
    </dict>
    <key>quoteleft</key>
    <dict>
      <quoteleft>-8</quoteleft>
    </dict>
    <key>quoteright</key>
    <dict>
      <space>-22</space>
      <quoteright>-8</quoteright>
      <s>-8</s>
    </dict>
    <key>space</key>
    <dict>
      <Y>-12</Y>
      <Tcommaaccent>-16</Tcommaaccent>
      <Tcaron>-16</Tcaron>
      <T>-16</T>
      <Aogonek>-44</Aogonek>
      <A>-44</A>
    </dict>
  </dict>
</plist>
